.all-tuts.container.grid.divider
  .grid-item
    a(href="simple_website").grid-c
      h3 Simple website introduction
  .grid-item
    a(href="simple_website/domain_hosting.html").grid-c
      h3 Domain & Hosting
  .grid-item
    a(href="simple_website/conventions.html").grid-c
      h3 Conventions
  .grid-item
    a(href="simple_website/web_languages.html").grid-c
      h3 Web languages
  .grid-item
    a(href="simple_website/first_files.html").grid-c
      h3 The First Files
  .grid-item
    a(href="simple_website/first_layout.html").grid-c
      h3 First layout
  .grid-item
    a(href="simple_website/adding_content.html").grid-c
      h3 Adding some content
  .grid-item
    a(href="simple_website/styling_menu.html").grid-c
      h3 Styling the menu & stuff
  .grid-item
    a(href="css").grid-c
      h3 Floats & clears #1
  .grid-item
    a(href="css/float_clear.html").grid-c
      h3 Floats & clears #2
  .grid-item
    a(href="css/positioning.html").grid-c
      h3 Positioning #1
  .grid-item
    a(href="css/fullscreen.html").grid-c
      h3 Fullscreen background
  .grid-item
    a(href="css/filters.html").grid-c
      h3 CSS filters
  .grid-item
    a(href="css/menu.html").grid-c
      h3 Making a menu
  .grid-item
    a(href="css/css3.html").grid-c
      h3 CSS 3
  .grid-item
    a(href="css/responsive.html").grid-c
      h3 Responsive webdesign
  .grid-item
    a(href="frameworks").grid-c
      h3 Bootstrap 3.0
  .grid-item
    a(href="frameworks/lightbox.html").grid-c
      h3 Lightbox
  .grid-item
    a(href="need-to-know").grid-c
      h3 Google Analytics
  .grid-item
    a(href="need-to-know/google_maps.html").grid-c
      h3 Google Maps
  .grid-item
    a(href="need-to-know/fonts.html").grid-c
      h3 Custom Font(s)
  .grid-item
    a(href="need-to-know/adobe.html").grid-c
      h3 What Adobe program to use?
  .grid-item
    a(href="need-to-know/programs.html").grid-c
      h3 My programs
  .grid-item
    a(href="need-to-know/seo.html").grid-c
      h3 SEO
  .grid-item
    a(href="photoshop/").grid-c
      h3 PS introductions
  .grid-item
    a(href="photoshop/selections.html").grid-c
      h3 Selections #1
  .grid-item
    a(href="photoshop/selections_2.html").grid-c
      h3 Selections #2
  .grid-item
    a(href="photoshop/face_swap.html").grid-c
      h3 Face Swapping
  .grid-item
    a(href="photoshop/puppet_warp.html").grid-c
      h3 Puppet Warp
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
