.all-tuts.container.grid.divider
  .grid-item
    a(href="simple_website").grid-c
      h3 Simple website introduction
  .grid-item
    a(href="simple_website/domain_hosting.html").grid-c
      h3 Domain & Hosting
  .grid-item
    a(href="simple_website/conventions.html").grid-c
      h3 Conventions
  .grid-item
    a(href="simple_website/web_languages.html").grid-c
      h3 Web languages
  .grid-item
    a(href="simple_website/first_files.html").grid-c
      h3 The First Files
  .grid-item
    a(href="simple_website/first_layout.html").grid-c
      h3 First layout
  .grid-item
    a(href="simple_website/adding_content.html").grid-c
      h3 Adding some content
  .grid-item
    a(href="simple_website/styling_menu.html").grid-c
      h3 Styling the menu & stuff
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
  //.grid-item
    a(href="simple_website/.html").grid-c
      h3 Domain
