doctype html
html
  head
    title Tutorials - KVD
    include /header.jade
  body.tutorial
    include /nav.jade
    include /tweets.jade
    
    .top
      .container
        h1 
          span tutorials
          | We can't help everyone, but everyone can help someone.
          
    .container.divider
      p My path to webdesigner & webdeveloper has been that of self study, suffering, frustration, sweating and the complete and utter hate of CSS #[mark floats], Internet Explorer 8 and all things #[mark WYSIWYG].. There have been many a reason why you have to do things a certain way in building stuff for the web. Most of them that I know, I've come to on my own, after a long but fun, great many years experience on the web. Maybe I can pass some of #[strong my knowlegde on to you].
      
      pre
        code(class="language-js")
          | if(this == "Sparta"){
          |   this = "Maddness";
          | }
      
    .container.grid.divider
      .grid-item
        a(href="simple_website").grid-c
          .icon
            img(src="../images/tutorials/simple.svg" width="" height="40")
          h3 Building simple website
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/css.svg" width="" height="40")
          h3 Cascading Style Sheets
          p CSS can be tricky at first when it's all new. Even people that have worked with can find it.. tedious. Use it wisely.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/photoshop.svg" width="" height="40")
          h3 Adobe Photoshop
          p There is no building anything graphical for web without good old Photoshop. But you need to learn to love it, as well as hate it.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/frameworks.svg" width="" height="40")
          h3 Frameworks
          p Try to be lazy. Re-use what other people have made. Don't re-invent the wheel. About 12 more generic saying that state my point.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/need.svg" width="" height="40")
          h3 Webdesign: need to know
          p Some little things that might help you adding small free features to your site or more info on my setup, what programs I use, ...
          
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
