@import "../../styles/vars";
@import "../../styles/mixins";

.button {
  padding: $btn-padding;
  border-radius: $btn-corners;
  background-color: $almostwhite;
  color: $black;
  font-weight: 500;
  transition: $animate;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: darken($almostwhite, 10%);
  }

  &-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 30px;

    .button {
      margin: 0 10px;
    }
  }
}
