@import "../../styles/vars";
@import "../../styles/mixins";

.button {
  padding: $padding_btn;
  border-radius: $radius_btn;
  transition: $animate;
  cursor: pointer;
  display: inline-block;
  border: 2px solid $black;

  &.primary {
    background-color: $black;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}
