@import "../../styles/vars";
@import "../../styles/mixins";

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: $width-xl;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;

  a {
    width: calc(100% - 50px);
    max-width: 410px;
    margin: 30px 25px;
    padding-bottom: 30px;
    text-align: center;
    top: 0;
    position: relative;
    box-shadow: $shadow-start;
    transition: all .3s .1s ease-out;
    box-shadow: $shadow;
    border-radius: 6px;
    overflow: hidden;

    @media screen and (min-width: $width-s) {
      width: calc(50% - 50px);
    }

    @media screen and (min-width: $width-xl) {
      width: calc(25% - 50px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 6px;
      opacity: 0;
      transition: all .3s .1s ease-out;
    }

    &:hover {
      top: -4px;
      box-shadow: $shadow;

      .bg {
        background-color: $almostwhite;
        background-size: auto 240px;
        height: 140px;
        background-position: top center;
      }

      .button {
        bottom: 30px;
        opacity: 1;
      }

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    .bg {
      background-repeat: no-repeat;
      background-size: auto 190px;
      background-position: center;
      width: 100%;
      height: 200px;
      transition: all .3s .1s ease-out;
    }

    .button {
      font-size: 1.5rem;
      border-radius: 4px;
      padding: $btn-padding;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      transition: all .3s .1s ease-out;
    }

    h2 {
      padding: 20px 20px 0;
      font-weight: 700;
      position: relative;
      top: 0;
      transition: all .2s .1s ease-out;
    }

    p {
      padding: 0 20px;
      position: relative;
      top: 0;
      transition: all .4s .1s ease-out;
    }

    &.creative {
      .bg {
        background-color: rgba($blue, 1);
        background-image: url("/images/creative.png");
      }

      .button {
        background-color: $blue;
        color: $white;
      }

      button {
        background-color: $blue;
      }

      &::after {
        border: 0 solid $blue;
      }

      &:hover {
        .bg {
          background-color: $almostwhite;
        }

        &::after {
          border: 3px solid $blue;
        }
      }
    }

    &.code {
      .bg {
        background-color: $yellow;
        background-image: url("/images/code.png");
      }

      .button {
        background-color: $yellow;
      }

      button {
        background-color: $yellow;
      }

      &::after {
        border: 0 solid $yellow;
      }

      &:hover {
        .bg {
          background-color: $almostwhite;
        }

        &::after {
          border: 3px solid $yellow;
        }
      }
    }

    &.dnd {
      .bg {
        background-color: $red;
        background-image: url("/images/dnd.png");
      }

      .button {
        background-color: $red;
        color: $white;
      }

      button {
        background-color: $red;
      }

      &::after {
        border: 0 solid $red;
      }

      &:hover {
        .bg {
          background-color: $almostwhite;
        }

        &::after {
          border: 3px solid $red;
        }
      }
    }

    &.tutorials {
      .bg {
        background-color: $green;
        background-image: url("/images/tutorials.png");
      }

      .button {
        background-color: $green;
      }

      button {
        background-color: $green;
      }

      &::after {
        border: 0 solid $green;
      }

      &:hover {
        .bg {
          background-color: $almostwhite;
        }

        &::after {
          border: 3px solid $green;
        }
      }
    }
  }
}
