doctype html
html
  head
    title Designs - KVD
    include /header.jade
  body.design
    include /nav.jade
    
    .top
      .container
        h1 
          span designs
          | Whoever said money can't buy happiness simply didn't know where to go shopping.
          
    .container.divider
      p I've had some ideas over the years that I've always put on my own T-shirts. I figured now that I might just as well share these with you guys. I'll show them below and you can buy them from the link provided. Or you could always recommend them to a friend.
      
    .container.grid.divider
      .grid-item
        a(href="simple_website").grid-c
          .icon
            img(src="../images/tutorials/simple.svg" width="" height="40")
          h3 Building simple website
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/css.svg" width="" height="40")
          h3 Cascading Style Sheets
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/photoshop.svg" width="" height="40")
          h3 Adobe Photoshop
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/frameworks.svg" width="" height="40")
          h3 Frameworks
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
      .grid-item
        a(href="").grid-c
          .icon
            img(src="../images/tutorials/need.svg" width="" height="40")
          h3 Webdesign: need to know
          p In this tutorial we'll learn how to make a website using simple code from scratch. No pre-knowledge needed.
          
    include /footer.jade

    script
      $(".mainMenu .menuDesigns").addClass("selected");
