doctype html
html
  head
    title Designs - KVD
    include /header.jade
  body.design
    include /nav.jade
    
    .top
      .container
        h1 
          span designs
          | Whoever said money can't buy happiness simply didn't know where to go shopping.
          
    .container.divider
      p I've had some ideas over the years that I've always put on my own T-shirts. I figured now that I might just as well share these with you guys. I'll show them below and you can buy them from the link provided. Or you could always recommend them to a friend.
    
    .dividing
      
    .container.divider
      p All of this stuff is sold on.. then show icons for: shirts, cases, stickers, wall art, bags, mugs, pillows
        
    .container.grid.divider.design_portfolio
      .grid-item
        .grid-c
          a(href="http://www.redbubble.com", target="_blank") 
            i(class="icon dripicons-cart") 
            | Buy
          img(src="../images/designs/001_bender.png")
      .grid-item
        .grid-c
          a(href="http://www.redbubble.com", target="_blank")
            i(class="icon dripicons-cart")
            | Buy
          img(src="../images/designs/011_realpixels.png")
      .clear
          
    include /footer.jade

    script
      $(".mainMenu .menuDesigns").addClass("selected");
