doctype html
html
  head
    title Designs - KVD
    include /header.jade
  body.design
    include /nav.jade
    include /tweets.jade
    
    .top
      .container
        h1 
          span designs
          | Whoever said money can't buy happiness simply didn't know where to go shopping.
          
    .container.divider
      p I've had some ideas over the years that I've always put on my own T-shirts. I figured now that I might just as well share these with you guys. I'll show them below and you can buy them from the link provided. Or you could always recommend them to a friend. p All of this stuff is sold on:

    .container.divider
      .sold_items 
        .s_item
          .tooltip#tooltip1 Bag 
          img(src="../images/designs/bags.svg", alt="", height="30")
        .s_item
          .tooltip#tooltip2 Case
          img(src="../images/designs/cases.svg", alt="", height="30")
        .s_item
          .tooltip#tooltip3 Mug
          img(src="../images/designs/mugs.svg", alt="", height="30")
        .s_item
          .tooltip#tooltip4 Pillow
          img(src="../images/designs/pillows.svg", alt="", height="30")
        .s_item
          .tooltip#tooltip5 Shirt
          img(src="../images/designs/shirts.svg", alt="", height="30")
        .s_item
          .tooltip#tooltip6 Sticker
          img(src="../images/designs/sticker.svg", alt="", height="30")
        
    .container.grid.divider.design_portfolio
          
    include /footer.jade

    script.
      $(".mainMenu .menuDesigns").addClass("selected");
