.top{
  background-color: $primary;
  padding: 100px 0;

  h1{
    font-size: 45px;
    color: $white;
    text-align: center;
    line-height: 50px;

    span{
      color: $secondary;
      font-size: 15px;
      text-transform: uppercase;
      display: block;
    }
  }
}

.container{
  .colums-3{
    .col{
      float: left;
      width: 33%;
      .c{
        padding: 0 30px;
        text-align: center;
        display: block;
      }
    }
    .col:nth-child(2){
      border-right: 1px solid $__grey;
      border-left: 1px solid $__grey;
    }
  }
}

.content{
  padding: 100px 0 0 0;
}

.divider{
  padding: 50px 0 0 0;
}

.grid{
  .grid-item{
    float: left;
    width: 33%;

    .grid-c{
      margin: 10px;
      padding: 30px 30px 20px 30px;
      border-radius: $corner;
      background-color: $_blue;
      display: block;
      color: $grey_;
      text-align: center;

      h3{
        color: $blue;
        font-weight: normal;
      }
    }
  }
}

.rightText{
  float: right;
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
}

.leftText{
  float: right;
  display: block;
}
