.top{
  background-color: $primary;
  padding: 100px 0;

  h1{
    font-size: 45px;
    color: $white;
    text-align: center;
    line-height: 50px;

    @media screen and (max-width: 780px){
      font-size: 36px;
    }

    @media screen and (max-width: 400px){
      font-size: 30px;
    }

    span{
      color: $secondary;
      font-size: 15px;
      text-transform: uppercase;
      display: block;
    }
  }
}

.image-header{
  position: relative;

  img{
    position: absolute;
    top: 0;
    left: 0;
  }

  h2{

  }
}

.container-full{
  background-color: $___grey;
  padding-bottom: 80px;

  .space{
    margin-bottom: 60px;
  }

  .col .c{

    &:hover{
      .icon{
        transform: scale(1.2);
        transform: rotateZ(1.5);
      }

      h3{
        color: $primary;
      }

      p{
        color: $blue;
      }
    }
  }
}

.container{

  @media screen and (max-width: 960px){
    padding: 0 20px;
  }

  .colums-3{
    .col{
      float: left;
      width: 33%;
      .c{
        padding: 0 30px;
        text-align: center;
        display: block;
      }
    }
    .col:nth-child(2){
      border-right: 1px solid $_grey;
      border-left: 1px solid $_grey;
    }
  }
}

.content{
  padding: 100px 0 0 0;

  @media screen and (max-width: 960px){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.divider{
  padding: 50px 0 0 0;

  @media screen and (max-width: 960px){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.grid{
  .grid-item{
    float: left;
    width: 33.33%;

    @media screen and (max-width: 900px){
      width: 50%;
    }

    @media screen and (max-width: 550px){
      width: 100%;
    }

    .grid-c{
      margin: 10px;
      padding: 30px 30px 20px 30px;
      border-radius: $corner;
      background-color: $_blue;
      display: block;
      color: $grey_;
      text-align: center;
      border: 1px solid $_blue;
      cursor: pointer;

      h3{
        color: $blue;
        font-weight: normal;
      }

      &:hover{
        background-color: $white;
        border: 1px solid $primary;
        box-shadow: 0 0 10px $_grey;
        transform: scale(1.025);
      }
    }
  }
}

.rightText{
  float: right;
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
  max-width: 100%;
}

.centerText{
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.leftText{
  float: right;
  display: block;
  max-width: 100%;
}

.normalImg{
  margin: 20px 130px;
  max-width: 100%;
  display: block;
}
