.header{
  height: 100px;
  background-color: $white;
  position: relative;

  .logo{
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    background: url(../images/logo.svg) no-repeat center center;
    background-size: auto 40px;
    width: 40px;
    height: 40px;
  }

  .mainMenu{
    float: right;
    list-style-type: none;

    li{
      display: inline-block;

      a{
        display: block;
        color: $primary;
        font-weight: 100;
        line-height: 97px;
        margin-right: 50px;
        height: 97px;
        border-top: 3px solid $white;
        position: relative;

        img{
          opacity: 0.8;
          height: 25px;
          position: relative;
          top: 5px;
        }

        span{
          position: absolute;
          top: 0;
          left: 50%;
          text-align: center;
          display: block;
          width: 100px;
          margin-left: -50px;
          font-size: 18px;
          opacity: 0;
        }

        &:hover{
          border-top: 3px solid $primary;

          img{
            opacity: 0.3;
          }

          span{
            opacity: 1;
          }
        }
      }

      .active{
        color: $primary;
        border-top: 3px solid $primary;
      }
    }

    .selected{
      a{
        border-top: 3px solid $primary;

        img{
          opacity: 0.3;
        }

        span{
          opacity: 1;
        }
      }
    }
  }
}
