.sideMenu{
  position: absolute;
  top: 527px;
  left: 0;

  .bars{
    position: absolute;
    top: 0;
    left: 20px;
    padding-top: 10px;

    i{
      font-size: 30px;
      color: $primary
    }
  }

  .list{
    position: absolute;
    top: 0;
    left: -300px;
    width: 250px;
    padding-left: 22px;
    line-height: 30px;

    span{
      color: $primary;
    }

    li{
      list-style-type: none;

      a{
        color: $grey;

        &:hover{
          color: $blue;
        }
      }
    }

    .active{
      a{
        color: $blue;
      }
    }
  }

  &:hover{
    opacity: 1;

    .bars{
      left: -50px;
    }

    .list{
      left: 0px;
    }
  }
}
