.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span Need to know:
    li.need1
      a(href="index.html") 1. Google Analytics
    li.need2
      a(href="google_maps.html") 2. Google Maps
    li.need3
      a(href="fonts.html") 3. Custom Font(s)
    li.need4
      a(href="adobe.html") 4. What Adobe program to use?
    li.need5
      a(href="programs.html") 5. My programs
    li.need6
      a(href="seo.html") 6. SEO
