doctype html
html
  head
    title Adobe - Need to know - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Need-to-know: Adobe
          | Wait, but how do I know what Adobe program to sue?
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .need4").addClass("active");
