doctype html
html
  head
    title Google Maps - Need to know - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Need-to-know: Google Maps
          | People need to find you. So let Big Brother find you!
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .need2").addClass("active");
