doctype html
html
  head
    title Google Analytics - Need to know - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Need-to-know: Google Analytics
          | Get them juicy stats for free via Google Analytics!
    
    .container.divider
      p
        strong An important aspect of webdesign is getting visitors to your site. Because of the ever growing number of websites that exist online, your competition grows every day. It’s important to investigate how many people stay on your site, how long they stay and what means they use to do so. Do a large percentage of your target audience actually use Internet Explorer (those poor souls) then you have to test your website in that browser. Do they use a mobile device, than provide an alternative layout that is optimised for handhelds.
      
      img(src="../../images/tutorials/need-to-know/googleana9.jpg", class="normalImg")
        
      p All this data can be saved and then analysed via a free tool Google made especially for you: Google Analytics. The only thing you have to do is make an account, copy paste some code, wait a week and you’ll be able to look at statistics for your site.

      p The only requirement to be able to use this tool is that you have access to your server, preferable via FTP. You have to be able to upload or alter the html file(s) on your server. This way, Google knows that the pages you want to watch and analyse are actually your pages, and not you trying to spy on the competition.
      
      h2 Go to Google Analytics and make an account.
      
      p If you surf to the website #[a(href="http://www.google.com/analytics/#?modal_active=none", target="_blank") Google Analytics] you’ll notice the text at the top: create an account. You’ll know that if you have a Google or Gmail account (which is the same thing) you can use that account here to open your Google Analytics account. Making this account is just as easy as following the steps and filling in all the required fields. After confirming all your information you’ll receive an email that asks you to confirm your subscription. After clicking this link provided, you’ll have activated your account. Time to go back to the general webpage of Google Analytic and log in to get started.
      
      p The first time you log in, you’ll be asked to link Google Analytics to a website. Again, this can be any website you want, but you’ll have to add some code to it, so you need to have access to it.
      
      h2 Adding a website to the list
      
      p When adding a website to your list of Google Analytics you have to define a couple of things. The first thing you decide between is: a Web site or an App.
      
      img(src="../../images/tutorials/need-to-know/googleana1.jpg", class="normalImg")
      
      p Next up is the name of your company or administrator. This is pretty straight forward and only visible for you.

      p The next couple of settings are the name of your website, its domain, its purpose (to pick from a drop down) and the time zone.
      
      img(src="../../images/tutorials/need-to-know/googleana2.jpg", class="normalImg")
        
      p The Data sharing settings refer to information you want to monitor and improve. But because of this tool, you’re sharing this information with Google automatically. You might wane consider turning some of these off, avoiding big brother from taking a peek at sensitive data. In most cases you let all options be active, but for bigger companies, you might want to hide and keep some information confidential.
      
      img(src="../../images/tutorials/need-to-know/googleana3.jpg", class="normalImg")
      
      p Agreeing with the terms and conditions is required before being able to continue. As always, and like everyone else also does, you read through these and only click ok if you’ve fully understood everything. Reading it twice might even be a good idea. Those last two sentences were sarcasm in case you didn’t get that.
      
      img(src="../../images/tutorials/need-to-know/googleana4.jpg", class="normalImg")
        
      h2 Copy pasting tracking code

      p You’ll notice that you’ve arrived at the Admin page. Here you can adjust and update settings for your Google Analytics. This means everything from changing your domain name, to making the statistics available for colleagues or third parties. You’re website will be given a tracking code. This code is unique for every page in the system and is now linked to your website. Underneath the code will be actual code you’ll have to copy paste on your website.
      
      img(src="../../images/tutorials/need-to-know/googleana5.jpg", class="normalImg")
        
      p You’ll need to place this code on all the pages you want to track. That means, not just your homepage, but all pages of your website (with a couple of exceptions). If you’re working with templates already than just add this code to your head tag in the template. That way, you only have to define it only once. So summary: you paste the same code on every page of your website.
        
      img(src="../../images/tutorials/need-to-know/googleana6.jpg", class="normalImg")
        
      h2 Look at the stats

      p After about a full week of waiting time, you’ll notice the first statistics popping up. To look at them, and further analyses them, you click on Home. There you will find an overview of all the websites you linked to this Google Analytic account.
      
      img(src="../../images/tutorials/need-to-know/googleana7.jpg", class="normalImg")
        
      p Click on one specific website to see its statistics. You’ll notice that on the left you’ll get a menu divided into major categories. They range from Intelligence Events till Conversions.

      p To learn more about your audience and what they use, how long they stay on your site,.. You focus on the category Audience. There you have some sub options that might prove informative for you. I’ll sum up the most relevant ones from my point of view:

      ul.conlist
        li Demographics: an overview of the average age, the gender and Interest Category of your visitors
        li Geo: an overview of the location and language of your visitors. It’s handy to look up what language(s) people are using to visit our site. If the number is big enough you might make your website available in alternate languages.
        li Behaviour: an overview of where your audience comes from. Do they know your site and are they coming back? Or are they new visitors that Google redirected to your site. IN an ideal world, your new visitors are always bigger than your returning visitors. If you feel like that number is too small, then you’ll have to find ways to promote your website. Either via different media, paid campaigns, Google AdWords or social media.
        li Technology and Mobile: an overview of the way your visitor sees your website. Via what medium and via what system are they viewing the website. If you notice a big group of your audience using Internet Explorer 8, you’ll have to make sure it works in IE8. Even if you, like every other web designer/web developer, don’t like IE8.
      
      p Behaviour has some extra settings that might be important, like the speed of your website, and therefor it’s a category on its one a bit lower down. The site speed is one of the more important factors to keep visitors on your site (the lower the speed the better) and to get a better ranking on Search Engines, like Google. Your speed gets a bit higher with: bigger pictures, video, custom fonts, more script and css files, longer documents, embedding media,.. Keep the average speed under two seconds if you want to make your audience (including Google) happy.
      
      h2 Sending a message
      
      p So chances are that you might need or want to share this information with others. Colleagues and clients might benefit from this information or might have an interest in the site statistics. To export a certain statistic or a specific category, you click on export at the top. It’ll ask you to what file extension you would like to export. Depending on your audience or purpose this choice differs. The most common one would be PDF, seeing as everyone can open a pdf and its small enough in file size to send via email or post online. But if you want to export to a spread sheet file, you pick the Excel, csv or Google Spread Sheet option.
      
      img(src="../../images/tutorials/need-to-know/googleana8.jpg", class="normalImg")
      
      p A pdf or csv will be downloaded via the browser. Now you can easily send this pdf via attachment to others.
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .need1").addClass("active");
