doctype html
html
  head
    title Google Analytics - Need to know - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Need-to-know: Google Analytics
          | Get them juicy stats for free via Google Analytics!
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .need1").addClass("active");
