doctype html
html
  head
    title Designs - KVD
    include /header.pug
  body.design
    include /nav.pug
    include /tweets.pug
    
    .top.bg-header.bg-design
      .container
        h1 
          span designs
          | Whoever said money can't buy happiness simply didn't know where to go shopping.
          
    .container.divider
      p I've had some ideas over the years that I've always put on my own T-shirts. I figured now that I might just as well share these with you guys. I'll show them below and you can buy them from the link provided. Or you could always recommend them to a friend. 
      
      p
        strong All of this stuff is sold as:

    .container.divider
      .sold_items 
        .s_item
          .tooltip#tooltip1 Bag 
          include /svg/designs/bags.html
        .s_item
          .tooltip#tooltip2 Case
          include /svg/designs/cases.html
        .s_item
          .tooltip#tooltip3 Mug
          include /svg/designs/mugs.html
        .s_item
          .tooltip#tooltip4 Pillow
          include /svg/designs/pillows.html
        .s_item
          .tooltip#tooltip5 Shirt
          include /svg/designs/shirts.html
        .s_item
          .tooltip#tooltip6 Sticker
          include /svg/designs/sticker.html
        
    .container.grid.divider.design_portfolio
          
    include /footer.pug

    script.
      $(".mainMenu .menuDesigns").addClass("selected");
