.footer
  .container
    ul.social_footer
      li
        a(href="https://github.com/solo244", target="_blank")
          include /svg/footer/github.html
      li
        a(href="https://www.facebook.com/solo244/", target="_blank") 
          include /svg/footer/facebook.html
      li
        a(href="https://twitter.com/Elsolo244", target="_blank") 
          include /svg/footer/twitter.html
      li
        a(href="https://www.linkedin.com/in/ken-van-damme", target="_blank") 
          include /svg/footer/linkedin.html
      li
        a(href="https://plus.google.com/101383241263914565380", target="_blank") 
          include /svg/footer/google.html
      li
        a(href="https://www.youtube.com/channel/UCe-mRQ9BxyRt9FMhJWY9hgQ", target="_blank") 
          include /svg/footer/youtube.html
    .between_logo
      a(href="/website_kvd/build/")
        include /svg/footer/logo.html
    ul.sub_menu
      li
        a(href="/website_kvd/build/") 
          span Home
      li
        a(href="/website_kvd/build/tutorials") 
          span Tutorials
      li
        a(href="/website_kvd/build/projects") 
          span Projects
      li
        a(href="/website_kvd/build/designs") 
          span Designs

.fallback
  p.joke.joke1 Your browser is so old, it knew Gandalf before he had a beard.
  p.joke.joke2 Your browser is so old, it used to babysit Yoda.
  p.joke.joke3 Your browser is so old, it went to an antique store and people started to bid on it. 
  p.joke.joke4 Your browser is so old, it's birth certificate is in Roman numerals. 
  
  p.update Be thoughtfull of your browser, and update today! It's free, fast and easy
  ul.pick
    li
      a(href="http://chrome.com", target="_blank") 
        include /svg/browsers/chrome.html
    li
      a(href="http://chrome.com", target="_blank") 
        include /svg/browsers/firefox.html
    li
      a(href="http://chrome.com", target="_blank") 
        include /svg/browsers/safari.html
    li
      a(href="http://chrome.com", target="_blank") 
        include /svg/browsers/opera.html
    li
      a(href="http://chrome.com", target="_blank") 
        include /svg/browsers/explorer.html   

script(src="/website_kvd/build/js/app.min.js")
