.footer
  .container
    ul.social_footer
      li
        a(href="https://github.com/solo244", target="_blank") 
          img(src="/website_kvd/build/images/social/github.svg", alt="")
      li
        a(href="https://www.facebook.com/solo244/", target="_blank") 
          img(src="/website_kvd/build/images/social/facebook.svg", alt="")
      li
        a(href="https://twitter.com/Elsolo244", target="_blank") 
          img(src="/website_kvd/build/images/social/twitter.svg", alt="")
      li
        a(href="https://www.linkedin.com/in/ken-van-damme", target="_blank") 
          img(src="/website_kvd/build/images/social/linkedin.svg", alt="")
      li
        a(href="https://plus.google.com/101383241263914565380", target="_blank") 
          img(src="/website_kvd/build/images/social/google+.svg", alt="")
      li
        a(href="https://www.youtube.com/channel/UCe-mRQ9BxyRt9FMhJWY9hgQ", target="_blank") 
          img(src="/website_kvd/build/images/social/youtube.svg", alt="")
      //- li
        //- a(href="#", target="_blank") 
          //- img(src="/website_kvd/build/images/social/dribbble.svg", alt="")
    .between_logo
      a(href="/website_kvd/build/")
        img(src="/website_kvd/build/images/logo.svg", alt="", width="50")
    ul.sub_menu
      li
        a(href="/website_kvd/build/") 
          span Home
      li
        a(href="/website_kvd/build/tutorials") 
          span Tutorials
      li
        a(href="/website_kvd/build/projects") 
          span Projects
      li
        a(href="/website_kvd/build/designs") 
          span Designs

script(src="/website_kvd/build/js/app.min.js")
