.footer
  .container
    ul.social_footer
      li
        a(href="https://github.com/solo244", target="_blank")
          include /svg/footer/github.html
      li
        a(href="https://www.facebook.com/solo244/", target="_blank") 
          include /svg/footer/facebook.html
      li
        a(href="https://twitter.com/Elsolo244", target="_blank") 
          include /svg/footer/twitter.html
      li
        a(href="https://www.linkedin.com/in/ken-van-damme", target="_blank") 
          include /svg/footer/linkedin.html
      li
        a(href="https://plus.google.com/101383241263914565380", target="_blank") 
          include /svg/footer/google.html
      li
        a(href="https://www.youtube.com/channel/UCe-mRQ9BxyRt9FMhJWY9hgQ", target="_blank") 
          include /svg/footer/youtube.html
    .between_logo
      a(href="/website_kvd/build/")
        include /svg/footer/logo.html
    ul.sub_menu
      li
        a(href="/website_kvd/build/") 
          span Home
      li
        a(href="/website_kvd/build/tutorials") 
          span Tutorials
      li
        a(href="/website_kvd/build/projects") 
          span Projects
      li
        a(href="/website_kvd/build/designs") 
          span Designs

script(src="/website_kvd/build/js/app.min.js")
