.header
  a(href="/website_kvd/build/").logo
  ul.mainMenu
    li.menuTutorials
      a(href="/website_kvd/build/tutorials")
        include /svg/menu/tutorial.html
        span Tutorials
    li.menuProjects
      a(href="/website_kvd/build/projects") 
        include /svg/menu/project.html
        span Projects
    li.menuDesigns
      a(href="/website_kvd/build/designs") 
        include /svg/menu/design.html
        span Designs
