.header
  a(href="/website_kvd/build/").logo
  ul.mainMenu
    li
      a(href="/website_kvd/build/") 
        img(src="images/menu/home.svg", height="50")
    li
      a(href="/website_kvd/build/tutorials") 
        img(src="images/menu/tutorial.svg", height="50")
    li
      a(href="/website_kvd/build/projects") 
        img(src="images/menu/project.svg", height="50")
    li
      a(href="/website_kvd/build/designs") 
        img(src="images/menu/design.svg", height="50")

//website_kvd
