.header
  a(href="/website_kvd/build/").logo
  ul.mainMenu
    //li.menuHome
      a(href="/website_kvd/build/") 
        img(src="/website_kvd/build/images/menu/home.svg") 
        span Home
    li.menuTutorials
      a(href="/website_kvd/build/tutorials") 
        img(src="/website_kvd/build/images/menu/tutorial.svg") 
        span Tutorials
    li.menuProjects
      a(href="/website_kvd/build/projects") 
        img(src="/website_kvd/build/images/menu/project.svg") 
        span Projects
    li.menuDesigns
      a(href="/website_kvd/build/designs") 
        img(src="/website_kvd/build/images/menu/design.svg") 
        span Designs
