.header
  .logo
    img(src="", width="100", height="100")
  ul.mainMenu
    li
      a(href="../index.html") 
        i(class="icon dripicons-home")
    li
      a(href="tutorials") 
        i(class="icon dripicons-code")
    li
      a(href="projects") 
        i(class="icon dripicons-folder-open")
    li
      a(href="designs") 
        i(class="icon dripicons-jewel")

//website_kvd
