.container.divider
  h2 Updates
  .grid
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="images/news/link.svg" width="" height="30")
        h3 Free flaticon(s)
        p Largest database of vector icons
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="images/news/tutorial.svg" width="" height="30")
        h3 New Tutorial
        p What Adobe program to use
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="images/news/design.svg" width="" height="30")
        h3 New Design
        p "It's a trap"
.content
