.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="http://productgraveyard.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=http://productgraveyard.com/&size=32&resize=false", alt="")
        h3 Product Graveyard
        p Commemorating the gone away
        span September 2017
    .grid-item
      a(href="https://www.mapbox.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=https://www.mapbox.com/&size=32&resize=false", alt="")
        h3 Mapbox
        p Location, location, location
        span September 2017
    .grid-item
      a(href="https://iconverticons.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=https://iconverticons.com/&size=32&resize=false", alt="")
        h3 iconverticons
        p Convert all the things!
        span September 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
