.news
  .bell
    i(class="icon dripicons-bell")
  .news-items
    .news-item
      h3 New tutorial
      p The basics of webdesign. Read this stuff now!
    .news-item
      h3 New tutorial
      p The basics of webdesign. Read this stuff now!
    
    
