.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="https://teamweek.com/excusator/", target="_blank").grid-c
        .icon
          include /svg/news/link.html
        h3 Excusator
        p An excuse for deadlines
        span April 2017
    .grid-item
      a(href="https://radar.kollegorna.se/", target="_blank").grid-c
        .icon
          include /svg/news/link.html
        h3 Technology Radar 2017
        p 2017 Will be fun!
        span April 2017
    .grid-item
      a(href="https://frontendmasters.com/books/front-end-handbook/2017/", target="_blank").grid-c
        .icon
          include /svg/news/link.html
        h3 Front-end 2017
        p Found the handbook!
        span April 2017
.content
