.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="https://ityped.surge.sh/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=https://ityped.surge.sh/&size=32&resize=false", alt="")
        h3 iTyped
        p Dead simple animated typed
        span August 2017
    .grid-item
      a(href="http://cssgridgarden.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=http://cssgridgarden.com/&size=32&resize=false", alt="")
        h3 CSS Grid Garden
        p Grow a CSS carrot garden
        span August 2017
    .grid-item
      a(href="http://www.garylemasson.com/en", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=http://www.garylemasson.com/en&size=32&resize=false", alt="")
        h3 Ggarylemasson
        p Cool SEO portfolio/CV
        span August 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
