.container.divider.news_holder
  h2 
    | Updates
    span
  .grid
    .grid-item
      a(href="http://www.flaticon.com/", target="_blank").grid-c
        .icon
          img(src="images/news/link.svg" width="" height="30")
        h3 Free flaticon(s)
        p Largest database of vector icons
    .grid-item
      a(href="tutorials/need-to-know/programs.html").grid-c
        .icon
          img(src="images/news/tutorial.svg" width="" height="30")
        h3 New Tutorial
        p What Adobe program to use
    .grid-item
      a(href="designs").grid-c
        .icon
          img(src="images/news/design.svg" width="" height="30")
        h3 New Design
        p "It's a trap"
.content
