.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="https://getuikit.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=https://getuikit.com/&size=32&resize=false", alt="")
        h3 Get UI-kit
        p Modular front-end framework
        span July 2017
    .grid-item
      a(href="http://anime-js.com/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=http://anime-js.com/&size=32&resize=false", alt="")
        h3 Anime-js
        p Animating the web the right way
        span July 2017
    .grid-item
      a(href="http://inorganik.github.io/countUp.js/", target="_blank").grid-c
        .icon
          img(src="http://www.google.com/s2/favicons?domain=https://inorganik.net/&size=32&resize=false", alt="")
        h3 Count Up
        p Handy count up jQuery plugin
        span July 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
