.container.divider
  h2 Updates
  .grid
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="../images/news/something1.svg" width="" height="40")
        h3 News stuff 1
        p Go to there
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="../images/news/something1.svg" width="" height="40")
        h3 News stuff 1
        p Go to there
    .grid-item
      a(href="simple_website").grid-c
        .icon
          img(src="../images/news/something1.svg" width="" height="40")
        h3 News stuff 1
        p Go to there
.content
