tr
  th &nbsp;
  th 
    img(src="../../images/browsers/chrome.svg", alt="Browser Chrome")
  th
    img(src="../../images/browsers/firefox.svg", alt="Browser Firefox")
  th
    img(src="../../images/browsers/explorer.svg", alt="Browser internet Explorer")
  th
    img(src="../../images/browsers/safari.svg", alt="Browser Safari")
  th
    img(src="../../images/browsers/opera.svg", alt="Browser Opera")
