.container.divider
  .timeline
    .c1
      .date
        .img
        h3 I was born
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .c2
    .c3
      .date
        .img
        h3 I was born
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
