.container.divider
  .timeline
    .c1.cleared
      a(href="file.pdf", target="_blank").date.present
        img(src="images/timeline/24.svg" width="40")
        h3 Now
        p Download my cv
      .date
        img(src="images/timeline/23.svg" width="40")
        h3 2016
        p Extended the family by one cat.
      .date
        img(src="images/timeline/22.svg" width="40")
        h3 2015
        p Got completely obsessed with Dungeons & Dragons.
      .date
        img(src="images/timeline/21.svg" width="40")
        h3 2015
        p Switched jobs. Working in a bigger team.
      .date
        img(src="images/timeline/20.svg" width="40")
        h3 2014
        p Still working, still teaching and now finally smug enough to make my own tutorials.
      .date
        img(src="images/timeline/19.svg" width="40")
        h3 2012
        p Started teaching adults.
      .date
        img(src="images/timeline/18.svg" width="40")
        h3 2011
        p Bought my second car.
      .date
        img(src="images/timeline/17.svg" width="40")
        h3 2010
        p Started working for my boss as a webdesigner & webdeveloper.  
      .date
        img(src="images/timeline/16.svg" width="40")
        h3 2010
        p Moved again.
      .date
        img(src="images/timeline/15.svg" width="40")
        h3 2010
        p Bought my first car.  
      .date
        img(src="images/timeline/14.svg" width="40")
        h3 2009
        p Realised I love playing games, not making them. Company up and running - clearly more for me than Uni.
      .date
        img(src="images/timeline/13.svg" width="40")
        h3 2008
        p Started a course on gamedesign.
      .date
        img(src="images/timeline/12.svg" width="40")
        h3 2007
        p Moved and started a company of my own.
      .date
        img(src="images/timeline/11.svg" width="40")
        h3 2006
        p Tried my own way to work and get educated.
      .date
        img(src="images/timeline/10.svg" width="40")
        h3 2005
        p Decided school wasn't for me and quit at the age of 17.
      .date
        img(src="images/timeline/9.svg" width="40")
        h3 2003
        p Started playing basketball in competition.
      .date
        img(src="images/timeline/8.svg" width="40")
        h3 2002
        p Organised a funding waffle sale to finance a couple of computers and start an official class in school to learn to use them. Then decided together with my friends that playing games is good for your mental health.
      .date
        img(src="images/timeline/7.svg" width="40")
        h3 2000
        p Switched school and found new dreams of what to be when I "grow up".
      .date
        img(src="images/timeline/6.svg" width="40")
        h3 1999
        p Was totally unprepared for Y2K.
      .date
        img(src="images/timeline/5.svg" width="40")
        h3 1997
        p Fell in love with Space Jam.
      .date
        img(src="images/timeline/4.svg" width="40")
        h3 1996
        p Early goal found to be a professional Playstation player.
      .date
        img(src="images/timeline/3.svg" width="40")
        h3 1995
        p The family got a new computer and I was officially stuck to it from then on.
      .date
        img(src="images/timeline/2.svg" width="40")
        h3 1990
        p First steps were made. 
      .date.first
        img(src="images/timeline/1.svg" width="40")
        h3 1988
        p Saw the light and came into existence. It was kind of a big mess to be honest.       
    .c2 
    .c3
