.container.divider
  .timeline
    .c1.cleared
      .date.first
        include /svg/timeline/1.html
        h3 19888
        p Saw the light and came into existence. It was kind of a big mess to be honest.    
      .date
        include /svg/timeline/2.html
        h3 1990
        p First steps were made.    
      .date
        include /svg/timeline/3.html
        h3 1995
        p The family got a new computer and I was officially stuck to it from then on.
      .date
        include /svg/timeline/4.html
        h3 1996
        p Early goal found to be a professional Playstation player.
      .date
        include /svg/timeline/5.html
        h3 1997
        p Fell in love with Space Jam.
      .date
        include /svg/timeline/6.html
        h3 1999
        p Was totally unprepared for Y2K.
      .date
        include /svg/timeline/7.html
        h3 2000
        p Switched school and found new dreams of what to be when I "grow up".  
      .date
        include /svg/timeline/8.html
        h3 2002
        p Organised a funding waffle sale to finance a couple of computers and start an official class in school to learn to use them. Then decided together with my friends that playing games is good for your mental health.
      .date
        include /svg/timeline/9.html
        h3 2003
        p Started playing basketball in competition.
      .date
        include /svg/timeline/10.html
        h3 2005
        p Decided school wasn't for me and quit at the age of 17.
      .date
        include /svg/timeline/11.html
        h3 2006
        p Tried my own way to work and get educated.
      .date
        include /svg/timeline/12.html
        h3 2007
        p Moved and started a company of my own.
      .date
        include /svg/timeline/13.html
        h3 2008
        p Started a course on gamedesign.
      .date
        include /svg/timeline/14.html
        h3 2009
        p Realised I love playing games, not making them. Company up and running - clearly more for me than Uni.
      .date
        include /svg/timeline/15.html
        h3 2010
        p Bought my first car.  
      .date
        include /svg/timeline/16.html
        h3 2010
        p Moved again.
      .date
        include /svg/timeline/17.html
        h3 2010
        p Started working for my boss as a webdesigner & webdeveloper.  
      .date
        include /svg/timeline/18.html
        h3 2011
        p Bought my second car.
      .date
        include /svg/timeline/19.html
        h3 2012
        p Started teaching adults.  
      .date
        include /svg/timeline/20.html
        h3 2014
        p Still working, still teaching and now finally smug enough to make my own tutorials.
      .date
        include /svg/timeline/21.html
        h3 2015
        p Switched jobs. Working in a bigger team.  
      .date
        include /svg/timeline/22.html
        h3 2015
        p Got completely obsessed with Dungeons & Dragons.
      .date
        include /svg/timeline/23.html
        h3 2016
        p Extended the family by one cat.
      a(href="images/cv_kenvandamme.pdf", target="_blank").date#present
        include /svg/timeline/24.html
        h3 Now
        p Download my cv
    .c2 
    .c3
