.tweets
  .twit
  .feed    
    a(class="twitter-timeline", data-width="350", data-height="100%", data-theme="light", data-link-color="#00af73", href="https://twitter.com/Elsolo244")
    script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
.tweets_overlay
