doctype html
html
  head
    title Frameworks - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Frameworks
          | Make use of a nice and handy framework. Do less work!
    
    .container.divider
    
    .container
      p
        include /svg/tutorials/frameworks.svg
      h2 Frameworks are the "lazy" future
      p Don't reinvent the wheel. The one sentence I've every developer lives by: if it exists and it works, use it. Don't rebuild it. In a lot of cases it's free, so why not.. ?
    
    .all-tuts-detail.container.grid.divider
      .grid-item(data-visit="bootstrap")
        a(href="bootstrap.html").grid-c
          h3 Bootstrap 3.0
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="lightbox")
        a(href="lightbox.html").grid-c
          h3 Lightbox
          .seen
            i(class='icon dripicons-checkmark')
  
    include /footer.pug

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
    script(src="https://use.fontawesome.com/d2c9f526aa.js")
