@import "../../styles/vars";
@import "../../styles/mixins";

.grid {
  margin-top: -50px;

  &__buttons {
    padding: 10px;
  }

  &__row {
    width: 750px;

    &:nth-child(even) {
      margin-left: auto;
    }
  }

  &__item {
    width: 310px;

    h2 {
      margin: 0 30px -15px;
      position: relative;
      z-index: 4;
    }

    ul {
      margin-bottom: 20px;
      position: relative;
      height: 460px;

      li {
        position: absolute;
        transition: $animate;
        width: 100%;
      }
    }

    &__link {
      display: block;
      padding: 60px 30px 40px;
      border-radius: $radius_large;
      box-shadow: $shadow;
      height: 460px;
      background-color: $white;
      border: 2px solid $white;

      &.writing {
        &:hover,
        &:focus {
          background-color: $red;
          border: 2px solid $red_dark;
        }
      }
    }

    li {
      &:nth-child(1) {
        top: 0;
        z-index: 3;
        transform: scaleX(1);
      }

      &:nth-child(2) {
        top: 10px;
        z-index: 2;
        transform: scaleX(.95);
      }

      &:nth-child(3) {
        top: 20px;
        z-index: 1;
        transform: scaleX(.9);
      }
    }

    span {
      color: $grey;
      font-size: $font-size_small;
      letter-spacing: -.5px;
      display: block;
    }

    &__category {
      font-size: $font-size_small;
      text-transform: uppercase;
      border-radius: $radius;
      background-color: $grey;
      margin: 20px auto 10px;
      font-weight: 900;
      color: $black;
      display: inline-block;
      padding: 6px 10px;

      &.css { background-color: $green; }
    }

    &__date {
      font-size: $font-size_small;
      color: $black;
      font-weight: 700;
      transform: rotate(270deg);
      position: absolute;
      bottom: 80px;
      left: -10px;
    }

    &.active {
      li {
        a {
          box-shadow: $shadow_dark;
        }

        &:nth-child(1) {
          z-index: 5;
          transform: translate(-190px, 20px) rotate(-20deg);

          &:hover,
          &:focus {
            transform: translate(-190px, 0) rotate(-20deg);
          }
        }

        &:nth-child(2) {
          z-index: 6;
          transform: translate(0, -20px);

          &:hover,
          &:focus {
            transform: translate(0, -40px);
          }
        }

        &:nth-child(3) {
          z-index: 7;
          transform: translate(190px, 20px) rotate(20deg);

          &:hover,
          &:focus {
            transform: translate(190px, 0) rotate(20deg);
          }
        }
      }
    }
  }
}
