@import "../../styles/vars";
@import "../../styles/mixins";

.grid {
  &__buttons {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__item {
    width: 310px;
    margin: 0 10px 20px;

    h2 {
      margin: 0 30px -15px;
      position: relative;
      z-index: 4;
    }

    ul {
      margin-bottom: 20px;
      position: relative;
      height: 460px;

      li {
        position: absolute;
        transition: $animate;
        width: 100%;
      }
    }

    &__link {
      display: block;
      padding: 60px 30px 40px;
      border-radius: $radius_large;
      box-shadow: $shadow;
      height: 460px;
      background-color: $white;
      border: 2px solid $white;
      position: relative;

      &.writing {
        &:hover,
        &:focus {
          background-color: $red;
          border: 2px solid $red_dark;
        }
      }

      &.coding {
        &:hover,
        &:focus {
          background-color: $yellow;
          border: 2px solid $yellow_dark;
        }
      }

      &.designing {
        &:hover,
        &:focus {
          background-color: $green;
          border: 2px solid $green_dark;
        }
      }

      &.gaming {
        &:hover,
        &:focus {
          background-color: $blue;
          border: 2px solid $blue_dark;
        }
      }
    }

    span {
      color: $grey;
      font-size: $font-size_small;
      letter-spacing: -.5px;
      display: block;
    }

    &__category {
      font-size: $font-size_small;
      text-transform: uppercase;
      border-radius: $radius;
      background-color: $grey;
      margin: 20px auto 10px;
      font-weight: 900;
      color: $black;
      display: inline-block;
      padding: 6px 10px;
    }

    &__date {
      font-size: $font-size_small;
      color: $black;
      font-weight: 700;
      transform: rotate(270deg);
      position: absolute;
      bottom: 80px;
      left: -10px;
    }
  }

  &--stacked {
    margin-top: -50px;

    .grid__row {
      width: 750px;

      &:nth-child(even) {
        margin-left: auto;
      }

      li {
        &:nth-child(1) {
          top: 0;
          z-index: 3;
          transform: scaleX(1);
        }

        &:nth-child(2) {
          top: 10px;
          z-index: 2;
          transform: scaleX(.95);
        }

        &:nth-child(3) {
          top: 20px;
          z-index: 1;
          transform: scaleX(.9);
        }
      }
    }

    .grid__item.active {
      li {
        a {
          box-shadow: $shadow_dark;
        }

        &:nth-child(1) {
          z-index: 5;
          transform: translate(-190px, 20px) rotate(-20deg);

          &:hover,
          &:focus {
            transform: translate(-190px, 0) rotate(-20deg);
          }
        }

        &:nth-child(2) {
          z-index: 6;
          transform: translate(0, -20px);

          &:hover,
          &:focus {
            transform: translate(0, -40px);
          }
        }

        &:nth-child(3) {
          z-index: 7;
          transform: translate(190px, 20px) rotate(20deg);

          &:hover,
          &:focus {
            transform: translate(190px, 0) rotate(20deg);
          }
        }
      }
    }
  }

  &--overview {
    .grid__row {
      display: flex;
      flex-flow: row wrap;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.main {
  &__header {
    @include container;
    width: $width_large;
    padding: 150px 0;
    text-align: center;

    h1 {
      padding-top: 10px;
    }

    &__icon {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      opacity: .6;

      span {
        margin-left: 10px;
      }
    }

    &__sub {
      text-transform: uppercase;
      font-size: $font-size_small;
      margin-bottom: 20px;
    }

    &__filter {
      border-radius: $radius;
      padding: $padding_btn;
      display: inline-block;
    }
  }

  &__content {
    width: $width;
    @include container;
  }
}
