.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span CSS:
    li.css1
      a(href="float.html") 1.&nbsp;&nbsp;Floats & clears #1
    li.css2
      a(href="float_clear.html") 2. Floats & clears #2
    li.css3
      a(href="positioning.html") 3. Positioning #1
    li.css4
      a(href="fullscreen.html") 4. Fullscreen background
    li.css5
      a(href="filters.html") 5. CSS filters
    li.css6
      a(href="menu.html") 6. Making a menu
    li.css7
      a(href="css3.html") 7. CSS 3
    li.css8
      a(href="responsive.html") 8. Responsive webdesign
