doctype html
html
  head
    title CSS - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: CSS
          | All the magic happens with CSS
          
    .container.divider
    
    .container
      p
        include /svg/tutorials/css.html
      h2 What is CSS and how do I use it ?
      p You can't make a website without CSS. You can't! Because it dictates everything. All visual things are coded and shown via CSS. If you want to make websites, you'll need it!
    
    .all-tuts-detail.container.grid.divider
      .grid-item(data-visit="float")
        a(href="float.html").grid-c
          h3 Floats & clears #1
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="float_clear")
        a(href="float_clear.html").grid-c
          h3 Floats & clears #2
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="positioning")
        a(href="positioning.html").grid-c
          h3 Positioning #1
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="fullscreen")
        a(href="fullscreen.html").grid-c
          h3 Fullscreen background
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="filters")
        a(href="filters.html").grid-c
          h3 CSS filters
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="menu")
        a(href="menu.html").grid-c
          h3 Making a menu
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="css3")
        a(href="css3.html").grid-c
          h3 CSS 3
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="responsive")
        a(href="responsive.html").grid-c
          h3 Responsive webdesign
          .seen
            i(class='icon dripicons-checkmark')
        
    include /footer.pug
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
