.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span Photoshop:
    li.photoshop1
      a(href="introductions.html") 1.&nbsp;&nbsp;Introductions
    li.photoshop2
      a(href="selections.html") 2. Selections #1
    li.photoshop3
      a(href="selections_2.html") 3. Selections #2
    li.photoshop4
      a(href="face_swap.html") 4. Face Swapping
    li.photoshop5
      a(href="puppet_warp.html") 5. Puppet Warp
