doctype html
html
  head
    title Photoshop - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Photoshop
          | There are lies, white lies and Photosop lies
    
    .container.divider
    
    .container
      p
        include /svg/tutorials/photoshop.html
      h2 Geeting to know big and scary Adobe Photoshop
      p It's one of the best software tools out there for photo manipulation. It's not free but if you plan on using it professionally, it's worth its price. You can do cool and fun stuff, find out what!
    
    .all-tuts-detail.container.grid.divider
      .grid-item
        a(href="introductions.html").grid-c
          h3 PS introductions
      .grid-item
        a(href="selections.html").grid-c
          h3 Selections #1
      .grid-item
        a(href="selections_2.html").grid-c
          h3 Selections #2
      .grid-item
        a(href="face_swap.html").grid-c
          h3 Face Swapping
      .grid-item
        a(href="puppet_warp.html").grid-c
          h3 Puppet Warp
      
    include /footer.pug

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
