doctype html
html
  head
    title Photoshop - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Photoshop
          | There are lies, white lies and Photoshop lies
    
    .container.divider
    
    .container
      p
        include /svg/tutorials/photoshop.html
      h2 Geeting to know big and scary Adobe Photoshop
      p It's one of the best software tools out there for photo manipulation. It's not free but if you plan on using it professionally, it's worth its price. You can do cool and fun stuff, find out what!
    
    .all-tuts-detail.container.grid.divider
      .grid-item(data-visit="ps-introductions")
        a(href="introductions.html").grid-c
          h3 PS introductions
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="selections")
        a(href="selections.html").grid-c
          h3 Selections #1
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="selections_2")
        a(href="selections_2.html").grid-c
          h3 Selections #2
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="face_swap")
        a(href="face_swap.html").grid-c
          h3 Face Swapping
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="puppet_warp")
        a(href="puppet_warp.html").grid-c
          h3 Puppet Warp
          .seen
            i(class='icon dripicons-checkmark')
      
    include /footer.pug

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
