doctype html
html
  head
    title Selections #2 - Photoshop - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Photoshop: Selections #2
          | Let's select even more selections than before!
    
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        span photoshop
        | &nbsp;&nbsp;&gt;&nbsp; 
        span selections #2
        
      p Let’s face it, you won’t always get a picture with just one solid background. That would make life to easy. But you might still have to remove a background or cut on objet out of an image. Let’s take this picture as an example:
      
      img(src="../../images/tutorials/photoshop/SheldonCooper.jpg", class="centerText")
      
      p And I’ll ask you to remove the background and only keep the person on the foreground. We’ll have to make a selection that is quite specific. The background is not just one colour so we can’t just the Magic Wand Tool, which would take for ever. The background also isn’t geometrical so we can’t use the Marquee Tool(s). We can use the Quick Selection Tool to quickly select a group of colours. You use the quick selection as you would a brush. You gently stroke the area you want to select (unintentional innuendo) and the tool will select all similar colors around it as well. An important note is to start the selection from inside the object, not around it. As starting around it will result in selections the background as well.

      p When you’ve selected the Quick Selection Tools, you’ll notice your options at the top (properties) changing. I’ll sum up which ones are important and what they do.
      
      img(src="../../images/tutorials/photoshop/selectTools.png", class="normalImg")
      
      p When making a selection, you have to realise, that it’s never really done. It’s a process. And that means that you can always edit your selection. You can select a little bit more or a little bit less. You can start over or delete your selection. You can even jump selection tools to get the right tool for the right situation. As long as you keep your selection active, you can make changes to it. Normally when using something like the Quick Selection Tool, you’ll never make the perfect selection in one go. It’ll happen by selecting a tiny amount, then a bit more, a bit more,.. That means you can add to your selection. But what if you’ve selected too much, do you have to start over? Well, no, you just delete out what you don’t want. To add and remove stuff from your selection you’ll use the following properties:
          
      img(src="../../images/tutorials/photoshop/subTools.png", class="normalImg")
        
      p You’ll notice your cursor changing from a normal brush (dashed circle) to a brush with a plus or minus sign in it. That symbolises that you’ll be adding or subtracting from your selection.

      p Next up is the brush size. You’ll start with a value that is likely to small or too big. So you’ll have to adjust this. Although this value is purely subjective (you can work with any brush size you want), there are general rules for an ideal size. The sad part is that they are mostly based on your image, what you want to select and how accurate you want to be. This is something you’ll need experience for. For now, trial and error works just fine. I’m putting mine on 50 for this exercise.

      p We’re not going to change any of the other properties for our selection. By default the two options "Sample all layers" and "Auto-Enhance" should be unchecked, so make sure they are.

      p As a general rule, before we do anything, we’re going to unlock our first layer. Because it’s the first action, there will be one layer named background. It’ll be locked as well. It’s locked to protect ourselves not to remove our source info and because Photoshop needs one layer as a minimum at all times.
      
      img(src="../../images/tutorials/photoshop/bottomLayer.png", class="normalImg")
        
      p Let’s double click that layer and a window will pop up, asking for a name. We’ll name this layer bg, which is short for background. The moment you press ok, you’ll notice that the small lock icon is gone and the layer is no longer locked.
      
      img(src="../../images/tutorials/photoshop/nameLayer.png", class="normalImg")
        
      p With your Quick Selection Tool selected, the brush size set to 50 and the property "add to selection" selected (the brush with plus icon), we’ll now start brushing on Sheldon Cooper, who is the main focus of our image. We’ll start by drawing from the inside of his shirt, slowly upward to his face and hair. If you’ve selected too much, select "subtract from selection" and remove it. Do this until you’ve made a pretty accurate selection. Spending more time and patience will help improve the quality of the result. So don’t be afraid to take your time and zoom in and out, to be a precise as possible.
      
      p
        strong Note: You can zoom in and out via the CTRL + and CTRL – shortcuts.
        
      p If your selection is final (and you’re happy about it), we’ll copy and paste it on a new layer. So just press CTRL + C (or Edit -&gt; Copy) and then CTRL + V (or Edit -&gt; Paste). Photoshop will automatically create a new layer to paste this selection on. Normally you don’t notice a difference in the result but if you look at your layer, you’ll notice a new layer just popped up. Normally it auto picked its name so, it’ll be something like "Layer 1".
      
      p At this point we don’t really need the original layer anymore (our source layer) but instead of deleting it, we’ll just hide it. Because our source info is on there (our original image) we might need to start over or add something in extra. So, just click on the little eye icon in front of the layer to make it invisible. That way, it’s out of our face but we could still use it, if needed. Now we save our image as a PNG of GIF (something that supports transparency) and we’ve created a cut out image.
      
      img(src="../../images/tutorials/photoshop/SheldonCooperCutOut.png", class="centerText")
      
      p We could potentially now paste this cut out on another background if we wanted to. I'll give you a background to use:
        
      img(src="../../images/tutorials/photoshop/wallpaper.jpg", class="centerText")
      
      p Now we just paste it behind ur cut out selection:
      
      img(src="../../images/tutorials/photoshop/SheldonOnWallpaper.jpg", class="centerText")
  
    include /footer.pug

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .photoshop3").addClass("active");
