.container.grid.grid_dnd
  .overview
    img(src="../images/projects/dnd.svg" width="" height="40")
    h3 Dungeons and Dragons
    .back 
      i(class="icon dripicons-backspace")
      | Back to all of 'em
      
  a.grid-item(href="https://github.com/solo244/dm", target="_blank")#dashdnd
    .grid-c
      .bg
      h3 The static dash
      p A static dashboard to run my games
