.container.grid.grid_github
  .overview
    img(src="../images/projects/github.svg" width="" height="40")
    h3 Github
    .back 
      i(class="icon dripicons-backspace")
      | Back to all of 'em
  
  a.grid-item(href="https://github.com/solo244/new_project_gulp", target="_blank")
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Gulp
      p Blank new web project using Gulp
          
  a.grid-item(href="https://github.com/solo244/new_project_grunt-bower", target="_blank")
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Grunt + bower
      p Blank new web project using Grunt and Bower
      
  a.grid-item(href="https://github.com/solo244/new_project_grunt", target="_blank")
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Grunt
      p Blank new web project using Grunt
      
  a.grid-item(href="https://github.com/solo244/favs", target="_blank")
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Favs
      p It's just my way of being lazy with favourites
