doctype html
html
  head
    title Projects - KVD
    include /header.jade
  body.project
    include /nav.jade
    include /tweets.jade
    
    .top
      .container
        h1 
          span projects
          | Comic Sans is never an acceptable font. Unless you are an 8 year old girl writing a poem about unicorns.
          
    .container.divider
      p You'd be surprised how many kids and young people come to my website and send me an email that they are actually going to do something meaningful with their lives because of something that I said or did. It's zero. I think that's mostly because I've got an overly protective spam filter. But I still like to think that I'm making a difference. I've been making websites for years and it's something I love doing, despite global warming and horrible traffic. Sidenote: I'm not the best at writing welcome texts. Anyways, just click on any of these to look at the websites that I've made or help create in a new tab.
      
    .container.grid.divider
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/website.svg" width="" height="40")
          h3 Websites
          p I'm a webdesigner first. So a lot of projects of mine involve the building of websites. From design to development.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/github.svg" width="" height="40")
          h3 Github
          p Projects that I've started and thought, maybe others can use this as well? So I posted the on Github for you to use.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/dnd.svg" width="" height="40")
          h3 D&D
          p I love playing Dungeons & Dragons as the Dungeon Master. But yo do need tools to do so. So I build some. Free to use.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/random.svg" width="" height="40")
          h3 Random & funny
          p It's just fun to play around with technology. And fun stuff is something people like to see right ?
          
    .container.grid.divider.grid_websites
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/website.svg" width="" height="40")
          h3 Websites
          p I'm a webdesigner first. So a lot of projects of mine involve the building of websites. From design to development.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/github.svg" width="" height="40")
          h3 Github
          p Projects that I've started and thought, maybe others can use this as well? So I posted the on Github for you to use.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/dnd.svg" width="" height="40")
          h3 D&D
          p I love playing Dungeons & Dragons as the Dungeon Master. But yo do need tools to do so. So I build some. Free to use.
      .grid-item
        .grid-c
          .icon
            img(src="../images/projects/random.svg" width="" height="40")
          h3 Random & funny
          p It's just fun to play around with technology. And fun stuff is something people like to see right ?
          
    include /footer.jade

    script
      $(".mainMenu .menuTutorials").addClass("selected");
