.container.grid.grid_random
  .overview
    img(src="../images/projects/website.svg" width="" height="40")
    h3 Websites
    .back 
      i(class="icon dripicons-backspace")
      | Back to all of 'em
      
  a.grid-item(href="", target="_blank")
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Random name
      p Discription not too long please, thank you!
