.container.grid.grid_random      
  a.grid-item(href="/website_kvd/build/portfolio/i-got-this-card-game/", target="_blank")#gotthis
    .grid-c
      .bg
      h3 I got this card game
      p A board game that is made to be played with booze and friends
  
  a.grid-item(href="/website_kvd/build/portfolio/the-daisies/", target="_blank")#daisies
    .grid-c
      .bg
      h3 The Daisies
      p A quiz where winning and fun are important. Also beer.
