.container.grid.grid_websites
  .overview
    img(src="../images/projects/website.svg" width="" height="40")
    h3 Websites
    .back 
      i(class="icon dripicons-backspace")
      | Back to all of 'em
  .grid-item
    .grid-c
      .icon
        img(src="../images/projects/website.svg" width="" height="40")
      h3 Website 1
      p Shop for lingerie
  .grid-item
    .grid-c
      .icon
        img(src="../images/projects/github.svg" width="" height="40")
      h3 Website 2
      p Vacation in Lanza.
  .grid-item
    .grid-c
      .icon
        img(src="../images/projects/dnd.svg" width="" height="40")
      h3 Website 3
      p Win a 3D puzzle.
  .grid-item
    .grid-c
      .icon
        img(src="../images/projects/random.svg" width="" height="40")
      h3 Website 4
      p Up and at 'them.
