doctype html
html
  head
    title Title - about
    include /header.jade
  body.about
    include /nav.jade
    
    h1 This is an about page
    a(href="/website_kvd/build/") back to home
      
    include /footer.jade
