@import "../../styles/vars";
@import "../../styles/mixins";

// Code/projects
.code-filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  & > div {
    background-color: $white;
    box-shadow: $shadow;
    border-left: none;
    padding: 15px 25px 15px 20px;
    position: relative;
    border-radius: 6px;
    margin: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .icon {
      background-color: $almostwhite;
      border-radius: 8px;
      width: 40px;
      height: 40px;
      position: relative;
    }

    .content {
      padding-left: 12px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      font-size: 1rem;
    }

    h2 {
      padding: 0;
      font-size: 1.8rem;
      letter-spacing: -.5px;
      text-align: left;
      margin: 0;
    }
  }
}

.code-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: $width-l;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 100px;

  a {
    display: block;
    width: 430px;
    height: 430px;
    position: relative;
    text-align: center;
    padding-top: 250px;
    transition: all .25s ease-out;
    cursor: pointer;

    .c1,
    .c2,
    .c3,
    .c4 {
      opacity: .4;
      background-color: $yellow;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: -1;
    }

    .c1 {
      top: 60px;
      left: calc(50% - 80px);
      border-radius: 80px 0 0 0;
      transform: rotate(0deg);
      transition: all .2s ease-in-out;
    }

    .c2 {
      top: 60px;
      left: 50%;
      border-radius: 0 80px 0 0;
      transition: all .23s ease-out;
    }

    .c3 {
      top: 140px;
      left: calc(50% - 80px);
      border-radius: 0 0 0 80px;
      transition: all .26s ease-in;
    }

    .c4 {
      top: 140px;
      left: 50%;
      border-radius: 0 0 80px 0;
      transition: all .3s ease-out;
    }

    h2 {
      // padding: 0;
      font-size: 3.2rem;
      font-weight: 600;
      // letter-spacing: -.5px;
      // text-align: left;
      margin: 15px 0 0;
      padding: 10px 30px;

      span {
        opacity: 0;
        width: 14px;
        height: 14px;
        display: inline-block;
        background: url("/images/icons/arrow-right.svg") no-repeat right 0 top 0;
        background-size: auto;
        background-size: contain;
        position: relative;
        top: -1px;
        left: -20px;
        transition: all .3s ease-in;
      }
    }

    img {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%);
      transition: all .3s ease-out;
    }

    .img {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 20px;
      height: 240px;
      width: 240px;
      transform: scale(1) translateX(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all .3s ease-in-out;
    }

    p {
      font-size: 1.8rem;
      padding: 0 60px 10px;
      position: relative;
      left: 0;
      opacity: 1;
      transition: all .3s ease-in;
    }

    &:hover {
      padding-top: 310px;

      img {
        opacity: 1;
        top: -54px;
      }

      .img {
        opacity: 0;
        transform: scale(0) translateX(-100%);
      }

      h2 {
        span {
          opacity: 1;
          left: 10px;
        }
      }

      p {
        left: -40px;
        opacity: 0;
      }

      .c1,
      .c2,
      .c3,
      .c4 {
        width: 150px;
        height: 215px;
        opacity: 1;
        border-radius: 0;
        transform: rotate(90deg);
      }

      .c1 {
        top: -30px;
        left: 245px;
        border-radius: 6px 0 0 0;
      }

      .c2 {
        top: -30px;
        left: 30px;
        border-radius: 0 0 0 6px;
      }

      .c3 {
        top: 120px;
        left: 245px;
        border-radius: 0 6px 0 0;
      }

      .c4 {
        top: 120px;
        left: 30px;
        border-radius: 0 0 6px 0;
      }
    }

    &.code-stalstudio .img { background-image: url("/images/projects/stalstudio.png"); }
    &.code-itsunited .img { background-image: url("/images/projects/itsunited.png"); }
    &.code-criticalchronicles .img { background-image: url("/images/projects/criticalchronicles.png"); }
    &.code-burntabs .img { background-image: url("/images/projects/burntabs.png"); }
    &.code-mine .img { background-image: url("/images/projects/mine.png"); }
    &.code-dnd .img { background-image: url("/images/projects/dnd.png"); }
    &.code-dacss .img { background-image: url("/images/projects/dacss.png"); }
  }
}

// Creative
.redbubble {
  background-color: $almostwhite;
  border-radius: 8px;
  display: inline-block;
  padding: 12px 15px;
  position: relative;

  &::after {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    border: 3px solid $blue;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-out;
  }

  &:hover {
    &::after {
      opacity: 1;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
    }
  }
}

.creative-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: $width-l;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 50px;

  a {
    display: block;
    width: 192px;
    height: 192px;
    margin: 10px;
    position: relative;
    transition: all .25s ease-out;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    h2 {
      font-size: 2.4rem;
    }

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .button {
      background-color: $blue;
      color: white;
      padding: 10px 15px;
      border-radius: 8px;
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 2;
      opacity: 0;
      font-size: 1.4rem;
      transform: translate(-50%, -50%);
      transition: all .35s ease-out;
    }

    .design-bc {
      background-color: $blue;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scale(.2);
      opacity: 0;
      transition: all .2s ease-out;
    }

    &:hover {
      z-index: 1;
      filter: grayscale(0);

      .button {
        top: 50%;
        opacity: 1;
      }

      .design-bc {
        transform: scale(1);
        opacity: .9;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
      }
    }
  }
}
