doctype html
html
  head
    title Links - KVD
    meta(description="")
    include /header.jade
  body.home
    include /nav.jade
    include /tweets.jade

    .top
      .container
        h1
          span Random interesting links
          | I changed my password everywhere to 'incorrect.' That way when I forget it, it always reminds me, 'Your password is incorrect'.

    .container.divider.news_holder
      h2
        | Links
      .grid

        // https://teamweek.com/excusator/
        // https://www.queness.com/post/3141/10-image-galleries-jquery-script-with-thumbnail-filmstrip
        // https://www.queness.com/post/17506/bricksjsa-blazing-fast-masonry-layout-generator
        // https://www.mollie.com/nl/
        // https://opensource.google.com/projects/copybara
        // https://www.ui8.net/
        // http://mojs.io/
        // http://inorganik.github.io/countUp.js/
        // http://anime-js.com/
        // http://svgjs.com/
        // https://ityped.surge.sh/
        // http://cssgridgarden.com/
        // http://www.garylemasson.com/en

        .grid-item
          a(href="https://teamweek.com/excusator/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Excusator
            p An excuse for deadlines
            span April 2017
        .grid-item
          a(href="https://radar.kollegorna.se/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Technology Radar 2017
            p 2017 Will be fun!
            span April 2017
        .grid-item
          a(href="https://frontendmasters.com/books/front-end-handbook/2017/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Front-end 2017
            p Found the handbook!
            span April 2017
        .grid-item
          a(href="https://mjml.io/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Mjml.io
            p HTML E-mails the easy way
            span March 2017
        .grid-item
          a(href="http://deathtobullshit.com/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 About styles
            p Death to all the bullshit
            span March 2017
        .grid-item
          a(href="https://internetingishard.com/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Internetingishard
            p A HTML & CSS tutorial
            span March 2017
        .grid-item
          a(href="https://pagekit.com/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Pagekit
            p Awesome free CMS
            span February 2017
        .grid-item
          a(href="http://www.flaticon.com/", target="_blank").grid-c
            .icon
              include /svg/news/link.html
            h3 Flaticon
            p Free flaticon(s) database
            span December 2016
    .content


    include /footer.jade

    script.
      $(".mainMenu .menuHome").addClass("selected");
