.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span Coding from scratch:
    li.simple1
      a(href="index.html") 1.&nbsp;&nbsp;Introductions
    li.simple2
      a(href="domain_hosting.html") 2. Domain & Hosting
    li.simple3
      a(href="conventions.html") 3. Conventions
    li.simple4
      a(href="web_languages.html") 4. Web languages
    li.simple5
      a(href="first_files.html") 5. The First Files
    li.simple6
      a(href="first_layout.html") 6. First layout
    li.simple7
      a(href="adding_content.html") 7. Adding some content
    li.simple8
      a(href="styling_menu.html") 8. Styling the menu & stuff
