.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span Coding from scratch:
    li
      a(href="") 1. Introductions
    li
      a(href="") 2. Domain & Hosting
    li
      a(href="") 3. Conventions
    li
      a(href="") 4. Web languages
    li
      a(href="") 5. The First Files
    li
      a(href="") 6. First layout
    li
      a(href="") 7. Adding some content
    li
      a(href="") 8. Styling the menu & stuff
