.sideMenu
  .bars
    i(class="icon dripicons-align-left")
  .list
    span Coding from scratch:
    li.simple1
      a(href="/simple_website/") 1. Introductions
    li.simple2
      a(href="") 2. Domain & Hosting
    li.simple3
      a(href="") 3. Conventions
    li.simple4
      a(href="") 4. Web languages
    li.simple5
      a(href="") 5. The First Files
    li.simple6
      a(href="") 6. First layout
    li.simple7
      a(href="") 7. Adding some content
    li.simple8
      a(href="") 8. Styling the menu & stuff
