doctype html
html
  head
    title Adding content - Simple website - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 7. ADDING SOME CONTENT
          | Is building a website actually that difficult?
          
    .container.divider
      
      iframe(width="100%" height="540" src="https://www.youtube.com/embed/MWa4MyjsluU" frameborder="0" allowfullscreen)
      
      p We'll add some content to our elements. But we can't forget to make styles for every piece of content we add. We'll do that on the fly so we'll see our result immediately.   
      
    include /footer.jade
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple7").addClass("active");
