doctype html
html
  head
    title Domain & Hosting - Simple website - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side_simple.jade
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 2. DOMAINS & HOSTING
          | What do I buy, where do I buy?
          
    .container.divider
      p Ok let’s get serious over here. We have an IDE and we’re ready to learn. That’s good, actually that’s great. I am here to teach you. To teach you what I think is right. And I have a specific, not unique way of looking at web design. And that’s lazy. Well, it’s more of an approach than anything. But really, my goals is to be efficient and productive, to not have to repeat or remake stuff that I can potentially re-use. That saves me time and time is money. Although for me it’s more about the feeling that I can make more in a short amount of time than about money.
      
      p Since I’ve mentioned it, let’s talk money. How much does a website cost ? Good question, and a very common one at that. Makes sense: I want a website and I can’t make one myself. If I rent out the services of some professional, what would be a good price and how do I know, he’s not just squeezing me out of my hard worked coins. Compare making/buying a website with buying a car if you will. How much will a car cost me ? Well what do you want ? What engine, extra’s, brand, .. ? All those properties will change the cost and therefore it becomes unpredictable how much a common item, like a car, is going to cost. However, if you look at a basic model, a starting price is something you can be quite accurate about. I would like a new, modern car, which can go the normal speed on the highway. Well, those start at x amount of moneys. If you want a faster car or more features, that’ll cost you more. This makes sense. Unless you’re unfamiliar with the basic concept of societal capitalism. In which case you should read up on that first. You can do that via the Wikipedia page.
      
      p Now, when it comes down to your site you want a good one with a couple of pages. A home page, contact page, maybe a couple more... You know the works. Whatever a basic website would need. In this case, a basic and simple web service provider is what you’ll need. There’s about a million of those. I’ll mention some names of the ones I use but in the end, it’ll be your choice. What we’re going for her, is a good price and service. Trust me, you’ll need the service. When you’re not getting any emails from your domain and you send a nice letter to the support team about it and then notice that it gets ignored for days – to weeks... Well, let’s just say nobody wants that to happen.
      
      p A website needs a basic of two things: a domain and some hosting. Simply put: an address people can go to and some storage space to put your files on. And here is where it gets tricky. Do I take a good, yet more expensive provider, how much space do I really need,… ? Unfortunately, these are all typical questions that can only be answered through experience. I can tell you that the simplest of sites requires a couple of megabytes, and the larger sites with video, audio, huge pictures, a million pages, probably needs a couple of Gig. It’s a choice. But only you know how big your website is going to be, so you’ll have to decide for yourself. Admittedly, the most packages start at a decent amount of megabytes, so buying one of those will be, in most cases, a good starting point. What is important is that you have an approximate outline in your head of how much information you want on your page(s). This is a good start to be able to find out how much space you actually need.
      
      h2 Domain name
      
      p A domain name is pretty much your own little space on the web. It’s a name that you pick and that is unique. That means there’s only one out there and that’s great. You want to specify and be the only one out there with that name. That way people will find you. There’s obviously a big downside to that. If you have a popular word in your company name, you’ll find out that the name you wanted might already be taken. Now what ? Well, get creative and use dashed, spaces, lines, bars,... Basically: pick your URL and register it. Don’t worry too much about not being sure whether it has been taken, there are plenty of sites where you can check the availability of your name. Sometimes you can even see who owns it, in an attempt to maybe buy it off them. Paying for your domain name is something you will have to do on a yearly basis. You’re pretty much renting a certain name every year and paying a small sum for it. This price depends on the provider you decide to go with. Some are cheaper than others. As with everything, price matters. But, as with everything, it’s not always a guarantee of quality. I would pay roughly 7 € per year for my domain name with my provider. That’s not a high cost, but it’s something that can change. Image if you are international and want several domain name extensions: a .com and a .eu.. Then you’ll have to buy every one of those domain names. Every year. So consider first whether it is necessary and then decide if people all around the world need to read about your pet being awesome.
      
      h2 Hosting
      
      p Next to an address for people to surf to, you’ll need to input some text and images for them to read. That’s kinda the point of a website. We can do that in all sorts of ways but the cheapest one is to just rent out some space online. Unless you’re a big company with an IT crew, you don’t really have the time and money to spend on running your own server. So renting out a space online seems reasonable. And again, there’s a lot of choices out there. Comparing prices is always a good idea, but don’t forget that a higher price often gets you a better support. Not always, but often.
      
      p Hosting and renting a domain name are the two yearly costs you’ll have and I recommend renting them out from the same company. Actually, I’m not just recommending it, I’m telling you, you really should. If you buy them from two places and there is problem with your site, who are you going to call? Exactly, gho.. You don’t really know. Probably both. And sometimes they’ll just say it’s the other guys fault and it’s not. So please, rent a domain name and some web space from the same company. That will save you some headaches.
      
      p As a nice extra, you’ll probably buy both at the same time and after your purchase you’ll get an email with data you’ll need later. What we’re aiming at is the FTP data. We’ll see what exactly FTP is, but for now, what you need to know is the way we publish our sites when it’s done, is via FTP. And to put the files on your own website online, you’ll need that data from the mail. Good, now that that is out of the way, and you have your own workspace to play around with, let’s take a look at some basic web conventions, stuff you need to know !
      
      h2 References
      
      p Just some examples:
      ul 
        li webreus.nl
        li one.com
        li godaddy.com
      
      .container.grid
        .grid-item
          a(href="simple_website").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Sublime Text (3.0)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Brackets (Adobe Edge Code)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Notepad++
      
    include /footer.jade
    
    script
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple2").addClass("active");
