doctype html
html
  head
    title First layout - Simple website - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side_simple.jade
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 6. FIRST LAYOUT
          | Is building a website actually that difficult?
          
    .container.divider
      
      
      .container.grid
        .grid-item
          a(href="simple_website").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Sublime Text (3.0)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Brackets (Adobe Edge Code)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Notepad++    
      
    include /footer.jade
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple6").addClass("active");
