doctype html
html
  head
    title Simple website - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side_simple.jade
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 1. INTRODUCTIONS
          | Is building a website actually that difficult?
          
    .container.divider
      p So making a website shouldn't be too difficult ? That's what I hear, like <strong>A LOT</strong>. I don't understand why. With the constant evolution of the web and its technologies, it's impossible to keep up. (Well, with everything anyways.) That’s why there are so many jobs in the Information Technology. There are <em>web designers, developers, app builders, network-people, communication and marketing, graphic designers, animators</em>... You get the point. Just because you're in IT, doesn't mean you can build a website. It might, but it's not a guarantee. Why not ? Because it is difficult. You need a lot of information to even start. What program do I use, what do I buy, where do I find the good information (not the crummy bad one). Even with a good idea of what you're doing, you still need experience to make it all work, in all browsers, on all systems, on mobile and desktop. The list is long and the road is paved with mostly good intentions, but you need a starting point. You need some technical background information and you need a lot of enthusiasm. You will get stuck and you will come across problems, all of us have, that's how we've learned to avoid them. By sitting there in front of the screen, sadly sighing at the code we have written that doesn't work for a very specific scenario for no apparent reason. Then we ask. Ourselves or Google.
      
      img(src="../../images/tutorials/simple/random_minion_1.png", class="rightText")
      p To Google that would be: "how do I align two elements" and to ourselves it would be: "this all sucks, should I quit ?". Well, don't quit. I can honestly tell you that even after 7 years I still have that feeling, but not nearly as often. Plus, now I know that I can find the answer somewhere. But at the beginning it was blood, sweat and tears. But everyone has to go through that, you just need to find the patience and passion to keep going and get good at it. Then it becomes fun, I guarantee it.
      
      h2 What to use?
      p The first thing I'll look at is a common question that I receive. What should I use to make websites ? What program or piece of software should I buy ? Well, all personal tastes aside, you should try to find something that's free. That's your main goal. The reason a lot of people pay money for good software is because they think they need it. I want to make websites, I'll just buy this, click a few buttons and I'll have a website. Although we're trying to make this happen, we're still not there yet. If that day ever comes, I'll jump on that like white on rice (don't think I'm using that right). Anyways, what I'm saying is, try to avoid the paying programs and do the work yourself. Download a free IDE (program to write code in or – more technically said: integrated development environment) and start. Start to look stuff up, read and fill your head with knowledge on making websites with code. It's often not the fastest way, but it's the best way. Full stop. No discussion. Relying on software to write code for you for the web is not a good choice. It's an easy choice when you're inexperienced but it's a bad one. Your website will be neither personal, nor will you have learnt anything but how to use this specific program. If you are interested in writing your own code and building your own, personal website – continue reading.
      
      h2 Code is your friend
      p Writing code might seem scary, but don’t worry, we'll do it together in a way that’ll be easy and readable. We’ll be constantly checking our results in a visual way, so you won't be stuck behind a screen writing and reading code for hours, you'll be stuck behind a screen writing and reading code for hours whilst looking at the evolution of your oh-so-pretty design.
      
      p Some of the IDE's are good, some are better. But when it comes down to it, it's personal choice. Most of them have varying colour schemes and themes that you can choose. You can make them your own. And that's what you need, you're own workspace. You'll feel that need to personalise later on, when you'll be doing more of that sweet sweet programming. Let's take a quick look at our choices:
      
      .container.grid
        .grid-item
          a(href="simple_website").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Sublime Text (3.0)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Brackets (Adobe Edge Code)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Notepad++
            
      //.divider
      h2 You've tried the rest, now try some other ones
      p That's three good ones. You want better ones ? Well Google: "IDE" or "Software for writing HTML & CSS" and you'll find a sea of options. Pick one. If you want to play along and use what I use, install Sublime Text. It has a big button to download when you open the first page on the site, you can't miss it. It’s easy, pretty and quick. What else do you need ?
      
      p Now, we'll be writing this code together and you can follow along, but imagine you don't like code, in fact, it's worse, you're allergic to it. Not a problem, like I said, there are programs that write this stuff for you. Most bad, some good. Problem ? The good ones are never free. I'll be creating more tutorials and I'll talk more about those. In the meantime you can explore them a bit if you so desire. The two most common ones are Adobe Dreamweaver and Muse. A free version of that would be Blue Griffon. You will notice the options out there. Just pick one.
      
      p I’ll sum them all up again with some pros, that way, you’ll have an easier time picking I presume.
      
      p Sublime text: options, Brackets: code hinting, Dreamweaver: design view, Komodo Edit: preview, Muse: speed, Notepad++: macro's, EW: 60 days of trail period, Blue griffon: free, With some alternatives thrown in there. 
      p Feel free to explore:
      p Aptana Studio, Eclipse, BBEdit, TextWrangler, Smultron      
      
    include /footer.jade
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple1").addClass("active");
