doctype html
html
  head
    title Styling menu - Simple website - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 7. STYLING THE MENU
          | Is building a website actually that difficult?
          
    .container.divider
      p Ble ble ble.
      
      .container.grid
        .grid-item
          a(href="simple_website").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Sublime Text (3.0)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Brackets (Adobe Edge Code)
        .grid-item
          a(href="").grid-c
            .icon
              img(src="" width="" height="40")
            h3 Notepad++    
      
    include /footer.jade
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple8").addClass("active");
