doctype html
html
  head
    title Links - KVD
    include /header.pug
  body.home
    include /nav.pug
    include /tweets.pug

    .top
      .container
        h1
          span Random interesting links
          | I changed my password everywhere to 'incorrect.' That way when I forget it, it always reminds me, 'Your password is incorrect'.

    .container.divider.news_holder
      h2
        | Links
      .grid
        // http://freefrontend.com/
        // http://jam-icons.com/
        // https://wireddots.com/
        // https://abouolia.github.io/sticky-sidebar/
        // https://worldvectorlogo.com/
        // http://opensource.audith.org/uniform/
        // http://bourbon.io/
        // https://fractures.space/
        // http://www.garylemasson.com/en
        // http://www.sketchconfetti.com/
        // https://paste.fiftythree.com/
        // https://csspeeper.com/
        // http://fontba.se/
        // https://www.producthunt.com/
        // http://realfavicongenerator.net/
        // https://www.figma.com/features
        // https://stripe.com/nl/pricing
        // http://fontice.com/#features
        // https://blog.prototypr.io/
        // https://ifttt.com/discover
        // https://feather.netlify.com/
        // http://colebemis.com/tabio/
        // https://www.queness.com/post/3141/10-image-galleries-jquery-script-with-thumbnail-filmstrip
        // https://webkul.github.io/coolhue/?ref=webdesignernews.com
        // https://blog.sidebar.io/
        // http://facebook.github.io/jest/
        // https://survivejs.com/webpack/styling/loading/
        // http://bootstrapbay.com/bootstrap4/?ref=webdesignernews.com#ceva
        // https://icons8.com/icon/new-icons/all
        
        .grid-item
          a(href="http://strudeljs.org/", target="_blank").grid-c
            .icon
              include /svg/favs/strudel.svg
            h3 Strudel.js
            p JS component framework
            span October 2017
        .grid-item
          a(href="https://atlassian.design/", target="_blank").grid-c
            .icon
              include /svg/favs/atlassian.svg
            h3 Design for Atlassian
            p It's all sooo pretty
            span October 2017
        .grid-item
          a(href="https://siftery.com/groups/unicorns", target="_blank").grid-c
            .icon
              include /svg/favs/siftery.svg
            h3 Unicorns!
            p Break trough the lies
            span October 2017 
        .grid-item
          a(href="http://productgraveyard.com/", target="_blank").grid-c
            .icon
              include /svg/favs/graveyard.svg
            h3 Product Graveyard
            p Commemorating the gone away
            span September 2017
        .grid-item
          a(href="https://www.mapbox.com/", target="_blank").grid-c
            .icon
              include /svg/favs/mapbox.svg
            h3 Mapbox
            p Location, location, location
            span September 2017
        .grid-item
          a(href="https://iconverticons.com/", target="_blank").grid-c
            .icon
              include /svg/favs/iconvertions.svg
            h3 iconverticons
            p Convert all the things!
            span September 2017    
        .grid-item
          a(href="https://ityped.surge.sh/", target="_blank").grid-c
            .icon
              include /svg/favs/itype.svg
            h3 iTyped
            p Dead simple animated typed
            span August 2017
        .grid-item
          a(href="http://cssgridgarden.com/", target="_blank").grid-c
            .icon
              include /svg/favs/cssgarden.svg
            h3 CSS Grid Garden
            p Grow a CSS carrot garden
            span August 2017
        .grid-item
          a(href="http://www.garylemasson.com/en", target="_blank").grid-c
            .icon
              include /svg/favs/google.svg
            h3 Ggarylemasson
            p Cool SEO portfolio/CV
            span August 2017
        .grid-item
          a(href="https://getuikit.com/", target="_blank").grid-c
            .icon
              include /svg/favs/uikit.svg
            h3 Get UI-kit
            p Modular front-end framework
            span July 2017
        .grid-item
          a(href="http://anime-js.com/", target="_blank").grid-c
            .icon
              include /svg/favs/anime.svg
            h3 Anime-js
            p Animating the web the right way
            span July 2017
        .grid-item
          a(href="http://inorganik.github.io/countUp.js/", target="_blank").grid-c
            .icon
              include /svg/favs/calculator.svg
            h3 Count Up
            p Handy count up jQuery plugin
            span July 2017
        .grid-item
          a(href="https://isotope.metafizzy.co/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://isotope.metafizzy.co/&size=32&resize=false", alt="")
            h3 Isotope
            p Magical masonry grids
            span June 2017
        .grid-item
          a(href="https://opensource.google.com/projects/copybara", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://opensource.google.com/projects/copybara&size=32&resize=false", alt="")
            h3 Copybara
            p I like to move it move it
            span June 2017
        .grid-item
          a(href="https://www.ui8.net/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://www.ui8.net/&size=32&resize=false", alt="")
            h3 UI8
            p Design Inspiriation +1
            span June 2017
        .grid-item
          a(href="https://www.mollie.com/nl/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://www.mollie.com/nl/&size=32&resize=false", alt="")
            h3 Mollie
            p Mo money mo problems
            span May 2017
        .grid-item
          a(href="http://mojs.io/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=http://mojs.io/&size=32&resize=false", alt="")
            h3 Mojs motion
            p Animate with the flow
            span May 2017
        .grid-item
          a(href="http://svgjs.com/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=http://svgjs.com/&size=32&resize=false", alt="")
            h3 Manipulate SVG's
            p Look at those curves
            span May 2017
        .grid-item
          a(href="https://teamweek.com/excusator/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://teamweek.com/excusator/&size=32&resize=false", alt="")
            h3 Excusator
            p An excuse for deadlines
            span April 2017
        .grid-item
          a(href="https://radar.kollegorna.se/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://radar.kollegorna.se/&size=32&resize=false", alt="")
            h3 Technology Radar 2017
            p 2017 Will be fun!
            span April 2017
        .grid-item
          a(href="https://frontendmasters.com/books/front-end-handbook/2017/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://frontendmasters.com&size=32&resize=false", alt="")
            h3 Front-end 2017
            p Found the handbook!
            span April 2017
        .grid-item
          a(href="http://deathtobullshit.com/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=http://deathtobullshit.com/&size=32&resize=false", alt="")
            h3 About styles
            p Death to all the bullshit
            span March 2017
        .grid-item
          a(href="https://internetingishard.com/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://internetingishard.com/&size=32&resize=false", alt="")
            h3 Internetingishard
            p A HTML & CSS tutorial
            span March 2017
        .grid-item
          a(href="https://pagekit.com/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=https://pagekit.com/&size=32&resize=false", alt="")
            h3 Pagekit
            p Awesome free CMS
            span February 2017
        .grid-item
          a(href="http://www.flaticon.com/", target="_blank").grid-c
            .icon
              img(src="http://www.google.com/s2/favicons?domain=http://www.flaticon.com/&size=32&resize=false", alt="")
            h3 Flaticon
            p Free flaticon(s) database
            span December 2016
    .content

    include /footer.pug

    script.
      $(".mainMenu .menuHome").addClass("selected");
