doctype html
html
  head
    title Links - KVD
    include /header.pug
  body.home
    include /nav.pug
    include /tweets.pug

    .top.bg-header.bg-link(load-src="/images/header/bg_link.jpg")
      .container
        h1
          span Random interesting links
          | I changed my password everywhere to 'incorrect.' That way when I forget it, it always reminds me, 'Your password is incorrect'.

    .container.divider.news_holder
      h2
        | Links
      .grid
        // https://shopify.github.io/draggable/examples/simple-list.html
        // https://www.producthunt.com/
        // http://realfavicongenerator.net/
        // https://www.figma.com/features
        // https://stripe.com/nl/pricing
        // http://fontice.com/#features
        // https://blog.prototypr.io/
        // https://ifttt.com/discover
        // https://feather.netlify.com/
        // http://colebemis.com/tabio/
        // https://www.queness.com/post/3141/10-image-galleries-jquery-script-with-thumbnail-filmstrip
        // https://webkul.github.io/coolhue/?ref=webdesignernews.com
        // https://blog.sidebar.io/
        // http://facebook.github.io/jest/
        // https://survivejs.com/webpack/styling/loading/
        // http://bootstrapbay.com/bootstrap4/?ref=webdesignernews.com#ceva
        // https://icons8.com/icon/new-icons/all
        
        .grid-item
          a(href="https://toggl.com/", target="_blank").grid-c
            .icon
              include /svg/favs/toggle.svg
            h3 Toggle
            p Timetrack everything
            span May 2018
        .grid-item
          a(href="https://www.fiftythree.com/paste", target="_blank").grid-c
            .icon
              include /svg/favs/fiftythree.svg
            h3 Fiftythree
            p Easy and perfect slides
            span May 2018
        .grid-item
          a(href="https://csspeeper.com/", target="_blank").grid-c
            .icon
              include /svg/favs/csspeeper.svg
            h3 CSSpeeper
            p Inspect styles via extension
            span May 2018
        .grid-item
          a(href="https://beta.observablehq.com/", target="_blank").grid-c
            .icon
              include /svg/favs/observable.svg
            h3 Observable
            p Free interactive notebooks
            span April 2018
        .grid-item
          a(href="http://www.garylemasson.com/en", target="_blank").grid-c
            .icon
              include /svg/favs/gary.svg
            h3 Gary Le Masson
            p Need a good consultant
            span April 2018
        .grid-item
          a(href="http://www.sketchconfetti.com/", target="_blank").grid-c
            .icon
              include /svg/favs/confetti.svg
            h3 Sketch Confetti
            p Generate patterns with 1 click
            span April 2018
        .grid-item
          a(href="https://abouolia.github.io/sticky-sidebar/", target="_blank").grid-c
            .icon
              include /svg/favs/sidebar.svg
            h3 Sticky Sidebar
            p JavaScript plugin for a sidebar
            span March 2018
        .grid-item
          a(href="http://bourbon.io/", target="_blank").grid-c
            .icon
              include /svg/favs/bourbon.svg
            h3 Bourbon
            p A Lightweight Sass Tool Set
            span March 2018
        .grid-item
          a(href="https://fractures.space/", target="_blank").grid-c
            .icon
              include /svg/favs/fractures.svg
            h3 Fractures
            p Baseline atomic CSS toolkit
            span March 2018
        .grid-item
          a(href="https://wireddots.com/", target="_blank").grid-c
            .icon
              include /svg/favs/wireddots.svg
            h3 Wireddots
            p Themes, Kits & Components
            span February 2018
        .grid-item
          a(href="https://worldvectorlogo.com/", target="_blank").grid-c
            .icon
              include /svg/favs/ninja.svg
            h3 World Vector Logo
            p All brands, all logos
            span February 2018
        .grid-item
          a(href="http://opensource.audith.org/uniform/", target="_blank").grid-c
            .icon
              include /svg/favs/uniform.svg
            h3 Uniform
            p Sexy forms with jQuery
            span February 2018
        .grid-item
          a(href="https://devhints.io/css-flexbox", target="_blank").grid-c
            .icon
              include /svg/favs/rocket.svg
            h3 Devhints
            p Massive cheatsheets
            span January 2018
        .grid-item
          a(href="https://designrevision.com/", target="_blank").grid-c
            .icon
              include /svg/favs/designrevision.svg
            h3 Design Revision
            p Free UI toolkits
            span January 2018
        .grid-item
          a(href="https://frappe.github.io/charts/", target="_blank").grid-c
            .icon
              include /svg/favs/frappe.svg
            h3 Frappe
            p Dem fancy charts
            span January 2018
        .grid-item
          a(href="http://element.eleme.io/#/en-US", target="_blank").grid-c
            .icon
              include /svg/favs/element.svg
            h3 Element
            p Vue 2.0 based components
            span December 2017
        .grid-item
          a(href="https://expo.io/learn", target="_blank").grid-c
            .icon
              include /svg/favs/expo.svg
            h3 Expo 
            p Native apps with JS
            span December 2017
        .grid-item
          a(href="http://threed.io/", target="_blank").grid-c
            .icon
              include /svg/favs/threed.svg
            h3 Threed
            p Individual 3D mockup generator
            span December 2017
        .grid-item
          a(href="http://freefrontend.com/", target="_blank").grid-c
            .icon
              include /svg/favs/freefrontend.svg
            h3 Free Frontend
            p Free first-hand resources
            span November 2017
        .grid-item
          a(href="http://jam-icons.com/", target="_blank").grid-c
            .icon
              include /svg/favs/jam.svg
            h3 Jam icons
            p Pixel perfect and free
            span November 2017
        .grid-item
          a(href="https://backlinko.com/seo-this-year", target="_blank").grid-c
            .icon
              include /svg/favs/backlinko.svg
            h3 SEO 2018
            p All the tips and tricks
            span November 2017
        .grid-item
          a(href="http://strudeljs.org/", target="_blank").grid-c
            .icon
              include /svg/favs/strudel.svg
            h3 Strudel.js
            p JS component framework
            span October 2017
        .grid-item
          a(href="https://atlassian.design/", target="_blank").grid-c
            .icon
              include /svg/favs/atlassian.svg
            h3 Design for Atlassian
            p It's all sooo pretty
            span October 2017
        .grid-item
          a(href="https://siftery.com/groups/unicorns", target="_blank").grid-c
            .icon
              include /svg/favs/siftery.svg
            h3 Unicorns!
            p Break trough the lies
            span October 2017 
        .grid-item
          a(href="http://productgraveyard.com/", target="_blank").grid-c
            .icon
              include /svg/favs/graveyard.svg
            h3 Product Graveyard
            p Commemorating the gone away
            span September 2017
        .grid-item
          a(href="https://www.mapbox.com/", target="_blank").grid-c
            .icon
              include /svg/favs/mapbox.svg
            h3 Mapbox
            p Location, location, location
            span September 2017
        .grid-item
          a(href="https://iconverticons.com/", target="_blank").grid-c
            .icon
              include /svg/favs/iconvertions.svg
            h3 iconverticons
            p Convert all the things!
            span September 2017    
        .grid-item
          a(href="https://ityped.surge.sh/", target="_blank").grid-c
            .icon
              include /svg/favs/itype.svg
            h3 iTyped
            p Dead simple animated typed
            span August 2017
        .grid-item
          a(href="http://cssgridgarden.com/", target="_blank").grid-c
            .icon
              include /svg/favs/cssgarden.svg
            h3 CSS Grid Garden
            p Grow a CSS carrot garden
            span August 2017
        .grid-item
          a(href="http://www.garylemasson.com/en", target="_blank").grid-c
            .icon
              include /svg/favs/google.svg
            h3 Ggarylemasson
            p Cool SEO portfolio/CV
            span August 2017
        .grid-item
          a(href="https://getuikit.com/", target="_blank").grid-c
            .icon
              include /svg/favs/uikit.svg
            h3 Get UI-kit
            p Modular front-end framework
            span July 2017
        .grid-item
          a(href="http://anime-js.com/", target="_blank").grid-c
            .icon
              include /svg/favs/anime.svg
            h3 Anime-js
            p Animating the web the right way
            span July 2017
        .grid-item
          a(href="http://inorganik.github.io/countUp.js/", target="_blank").grid-c
            .icon
              include /svg/favs/calculator.svg
            h3 Count Up
            p Handy count up jQuery plugin
            span July 2017
        .grid-item
          a(href="https://isotope.metafizzy.co/", target="_blank").grid-c
            .icon
              include /svg/favs/isotope.svg
            h3 Isotope
            p Magical masonry grids
            span June 2017
        .grid-item
          a(href="https://opensource.google.com/projects/copybara", target="_blank").grid-c
            .icon
              include /svg/favs/copybara.svg
            h3 Copybara
            p I like to move it move it
            span June 2017
        .grid-item
          a(href="https://www.ui8.net/", target="_blank").grid-c
            .icon
              include /svg/favs/ui8.svg
            h3 UI8
            p Design Inspiriation +1
            span June 2017
        .grid-item
          a(href="https://www.mollie.com/nl/", target="_blank").grid-c
            .icon
              include /svg/favs/mollie.svg
            h3 Mollie
            p Mo money mo problems
            span May 2017
        .grid-item
          a(href="http://mojs.io/", target="_blank").grid-c
            .icon
              include /svg/favs/mojs.svg
            h3 Mojs motion
            p Animate with the flow
            span May 2017
        .grid-item
          a(href="http://svgjs.com/", target="_blank").grid-c
            .icon
              include /svg/favs/svgjs.svg
            h3 Manipulate SVG's
            p Look at those curves
            span May 2017
        .grid-item
          a(href="https://teamweek.com/excusator/", target="_blank").grid-c
            .icon
              include /svg/favs/excusator.svg
            h3 Excusator
            p An excuse for deadlines
            span April 2017
        .grid-item
          a(href="https://radar.kollegorna.se/", target="_blank").grid-c
            .icon
              include /svg/favs/kollegorna.svg
            h3 Technology Radar 2017
            p 2017 Will be fun!
            span April 2017
        .grid-item
          a(href="https://frontendmasters.com/books/front-end-handbook/2017/", target="_blank").grid-c
            .icon
              include /svg/favs/handbook.svg
            h3 Front-end 2017
            p Found the handbook!
            span April 2017
        .grid-item
          a(href="http://deathtobullshit.com/", target="_blank").grid-c
            .icon
              include /svg/favs/death.svg
            h3 About styles
            p Death to all the bullshit
            span March 2017
        .grid-item
          a(href="https://internetingishard.com/", target="_blank").grid-c
            .icon
              include /svg/favs/internet_hard.svg
            h3 Internetingishard
            p A HTML & CSS tutorial
            span March 2017
        .grid-item
          a(href="https://pagekit.com/", target="_blank").grid-c
            .icon
              include /svg/favs/pagekit.svg
            h3 Pagekit
            p Awesome free CMS
            span February 2017
        .grid-item
          a(href="http://www.flaticon.com/", target="_blank").grid-c
            .icon
              include /svg/favs/flaticon.svg
            h3 Flaticon
            p Free flaticon(s) database
            span December 2016
    .content

    include /footer.pug

    script.
      $(".mainMenu .menuHome").addClass("selected");
