doctype html
html
  head
    title Positioning - CSS - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span CSS: POSITIONING #1
          | Is building a website actually that difficult?
          
    .container.divider
      p Google.
      
      img(src="../../images/tutorials/simple/random_minion_1.png", class="rightText")
      
      h2 What to use?   
      
    include /footer.jade
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .css3").addClass("active");
