doctype html
html
  head
    title Page not found!
    include /header.jade
  body.notfound
    h1 This was no the page you're looking for.
    h2 Error 404
    img(src="/images/404.png", alt="404")
    p I find your lack of navigation skills disturbing
    a(href="/").but #[strike Join the Dark Side..] I mean, back to the website
    
    
    include /footer.jade
