doctype html
html
  head
    title Title - home
    include /header.jade
  body.about
    include /nav.jade
    
    h1 This is the home page
    a(href="/website_kvd/build/about") to about
      
    include /footer.jade
