doctype html
html
  head
    title KVD - Solo244
    include /header.jade
  body.home
    include /nav.jade
    
    .top
      .container
        h1 
          span Blurgh
          | What do you mean write an intro text? I don't know how you..
      
    .container.content
      .colums-3
        .col
          a(href="tutorials").c
            .icon 
              img(src="images/tutorials.svg", width="", height="60")
            h3 Tutorials
            p I like to share my web design & development knowledge in "short-ish" written tutorials. 
        .col
          a(href="projects").c
            .icon 
              img(src="images/projects.svg", width="", height="60")
            h3 Projects
            p I'm a procrastinator Exctraordinaire. This results in many side projects.
        .col
          a(href="designs").c
            .icon 
              img(src="images/designs.svg", width="", height="60")
            h3 Designs
            p I got tired of looking for clothes that have awesome designs. So I make them.
        .clear
    .container.divider
      h2 I am by far the most me I've ever known
      p Webdesigner, webdeveloper, teacher, gamer, moron, realist, procrastinator, fast talker, nerd, distracted by pretty colors. I think thats by far the best description I can give you. I am a man of few words but I can use some visuals to help me tell you more about myself. Keep scrolling.
      a(href="/website_kvd/build/tutorials") to about
      
    include /footer.jade

    script
      $(".mainMenu .menuHome").addClass("selected");
