doctype html
html(lang="en")
  head
    title KVD - Solo244
    include /header.pug
  body.home
    include /nav.pug
    include /tweets.pug
    
    .top.bg-header.bg-home(load-src="/images/header/bg_home.jpg")
      .container
        h1 
          span Blurgh
          | What do you mean write an intro text? I don't know how you..
    
    include /news.pug
    
    .container-full  
      .container.divider
        h2.space I'm mostly busy with
        .colums-3.cleared
          .col
            a(href="tutorials").c
              .icon 
                include /svg/main/tutorials.html
              h3 Tutorials
              p I like to share my web design & development knowledge in "short-ish" written tutorials. 
          .col
            a(href="projects").c
              .icon 
                include /svg/main/projects.html
              h3 Projects
              p I'm a procrastinator Exctraordinaire. This results in many side projects.
          .col
            a(href="designs").c
              .icon 
                include /svg/main/designs.html
              h3 Designs
              p I got tired of looking for clothes that have awesome designs. So I make them.
        
        a(href="https://github.com/solo244", target="_blank", rel="noopener").github_contributions
          h3 Github contributions
          img(load-src="https://ghchart.rshah.org/solo244" alt="Github chart")
          
    .content
    .container.divider
      h2 I am by far the most me I've ever known
      p Webdesigner, webdeveloper, teacher, gamer, moron, realist, procrastinator, fast talker, nerd, distracted by pretty colors. I think thats by far the best description I can give you. I am a man of few words but I can use some visuals to help me tell you more about myself. Keep scrolling.
      
    include /timeline.pug
    
    include /footer.pug

    script.
      $(".mainMenu .menuHome").addClass("selected");
