@import "../../styles/vars";
@import "../../styles/mixins";

.button {
  padding: $padding_btn;
  border-radius: $radius_btn;
  transition: $animate;
  cursor: pointer;
  display: inline-block;
  background-color: $grey_light;
  color: $black;

  &.primary {
    background-color: $black;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($grey, 20%);
    }
  }

  &.grey {
    background-color: $grey_light;
    color: $black;

    &:hover,
    &:focus {
      background-color: darken($grey_light, 10%);
    }
  }

  &:hover,
  &:focus {
    background-color: darken($grey_light, 10%);
  }

  &.grouped {
    margin: 0 5px;
  }
}
