@import "../../styles/vars";
@import "../../styles/mixins";

.footer {
  margin: 150px auto 50px;

  .container {
    background-color: $grey_light;
    border-radius: $radius;
    padding: 15px 20px;
    font-size: $font-size_small;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  span,
  a {
    font-weight: 700;
  }
}
