/* Writing */
.tutorial {
  background-color: var(--green_light);
  border: 4px solid var(--green_light);
}

.tutorial h4 {
  color: var(--green_dark);
}

.tutorial:hover,
.tutorial:focus {
  background-color: var(--white);
  border: 4px solid var(--green);
  box-shadow: var(--shadow);
}

.wdigt {
  background-color: var(--red_light);
  border: 4px solid var(--red_light);
}

.wdigt h4 {
  color: var(--red_dark);
}

.wdigt:hover,
.wdigt:focus {
  background-color: var(--white);
  border: 4px solid var(--red);
  box-shadow: var(--shadow);
}

/* Coding */
.coding {
  background-color: var(--blue_light);
  border: 4px solid var(--blue_light);
}

.coding h4 {
  color: var(--blue_dark);
}

.coding:hover,
.coding:focus {
  background-color: var(--white);
  border: 4px solid var(--blue);
  box-shadow: var(--shadow);
}

/* Design */
.design {
  background-color: var(--grey_light);
  border: 4px solid var(--grey_light);
}

.design h4 {
  color: var(--grey_dark);
}

.design:hover,
.design:focus {
  background-color: var(--white);
  border: 4px solid var(--grey);
  box-shadow: var(--shadow);
}

/* Gaming */
.gaming {
  background-color: var(--yellow_light);
  border: 4px solid var(--yellow_light);
}

.gaming h4 {
  color: var(--yellow_dark);
}

.gaming:hover,
.gaming:focus {
  background-color: var(--white);
  border: 4px solid var(--yellow);
  box-shadow: var(--shadow);
}
