.footer {
  background-color: var(--grey_light);
  font-size: 1.4rem;
  width: 100%;
  margin-top: 6rem;
  padding: 4rem 0;
}

.footerstripped {
  font-size: 1.4rem;
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
}

.socials {
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  max-width: 90%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.disclaimer {
  text-align: right;
}

.totop {
  position: absolute;
  left: 50%;
  top: -6rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--grey_light);
  border: 4px solid var(--white);
}
