.header {
  padding: 5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 6rem;
}

.header aside {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  opacity: 0.5;
}

.header aside span {
  margin-right: 3rem;
}

.header aside svg {
  margin-top: -0.2rem;
  margin-right: 0.6rem;
}

.tutorial {
  background-color: var(--green_light);
}

.tutorial h4 {
  color: var(--green_dark);
}

.wdigt {
  background-color: var(--red_light);
}

.wdigt h4 {
  color: var(--red_dark);
}

.coding {
  background-color: var(--blue_light);
}

.coding h4 {
  color: var(--blue_dark);
}

.design {
  background-color: var(--grey_light);
}

.design h4 {
  color: var(--grey_dark);
}

.gaming {
  background-color: var(--yellow_light);
}

.gaming {
  color: var(--yellow_dark);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 90%;
}
