.flex {
  display: flex;
  flex-flow: row wrap;
}

.flexgrid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.sidebar {
  flex: 0 0 25%;
  min-width: 500px;
  max-width: 50%;
  min-height: 100vh;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  padding: 4rem;
}

.content {
  flex: 1;
  padding: 4rem;
}
