.flex {
  display: flex;
  flex-flow: row wrap;
}

.tile {
  display: flex;
  flex-flow: row wrap;
  width: calc(50% - 1rem);
}

.tile h2 {
  margin-bottom: 0;
}

.tile h4 {
  margin-bottom: 1rem;
}

.tiledate {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 3rem;
  font-size: var(--font-size_small);
  color: var(--black);
  opacity: 0.4;
}

.tiledate svg {
  margin-right: 0.5rem;
}

.tilelink {
  width: 100%;
  display: block;
  padding: 3.5rem 4rem;
  transform: scale(1);
  transition: var(--animate);
  border-radius: var(--radius_small);
}

.tilelink:hover,
.tilelink:focus {
  transform: scale(1.02);
  border-radius: var(--radius);
}
