doctype html
html
  head
    title Adding content - Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content(data-ref="adding_content")
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 7. ADDING SOME CONTENT
          | Start filling up our layout with some content blocks!
          
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        a(href="index.html") simple website
        | &nbsp;&nbsp;&gt;&nbsp; 
        span adding content
      
      iframe(width="100%" height="540" src="https://www.youtube.com/embed/MWa4MyjsluU" frameborder="0" allowfullscreen)
      
      p We'll add some content to our elements. But we can't forget to make styles for every piece of content we add. We'll do that on the fly so we'll see our result immediately.   
      
    include /footer.pug
    
    script.
      var savedTutorials = JSON.parse(localStorage.getItem("tutorials")) || [];
      savedTutorials.push("adding_content");
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple7").addClass("active");
