doctype html
html
  head
    title First layout - Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 6. FIRST LAYOUT
          | Let's start building out our layout. Divs, divs everywhere!
          
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        a(href="index.html") simple website
        | &nbsp;&nbsp;&gt;&nbsp; 
        span first layout
      
      iframe(width="100%" height="540" src="https://www.youtube.com/embed/R1jqQnhK5lw" frameborder="0" allowfullscreen)
      
      p We need to put some elements on our page. These layout elements are called #[mark div] (division) and define the structure of our document. Before we add some content (text and images) we need to create and name our #[mark div] tags.
      
    include /footer.pug
    
    script.
      var savedTutorials = JSON.parse(localStorage.getItem("tutorials")) || [];
      savedTutorials.push("first_layout");
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple6").addClass("active");
