doctype html
html
  head
    title Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Simple website
          | The first steps to building your own website
          
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        span simple website
        
    h2 Feel free to explore
    p Need to know is a random set of information pieces. Hopefully they help you to add that extra configuration or setup needed to make your website better.   
      
    include /footer.pug
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple1").addClass("active");
