doctype html
html
  head
    title Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Simple website
          | The first steps to building your own website
          
    .container.divider
        
    .container
      p
        include /svg/tutorials/simple.html
      h2 What is a simple website ?
      p Getting started on building your first website project in code? Sure! But before that, you need to know certain things. Important things. 
    
    .all-tuts-detail.container.grid.divider
      .grid-item(data-visit="simple_introductions")
        a(href="introductions.html").grid-c
          h3 1. Simple website introduction
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="domain_hosting")
        a(href="domain_hosting.html").grid-c
          h3 2. Domain & Hosting
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="conventions")
        a(href="conventions.html").grid-c
          h3 3. Conventions
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="web_languages")
        a(href="web_languages.html").grid-c
          h3 4. Web languages
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="first_files")
        a(href="first_files.html").grid-c
          h3 5. The First Files
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="first_layout")
        a(href="first_layout.html").grid-c
          h3 6. First layout
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="adding_content")
        a(href="adding_content.html").grid-c
          h3 7. Adding some content
          .seen
            i(class='icon dripicons-checkmark')
      .grid-item(data-visit="styling_menu")
        a(href="styling_menu.html").grid-c
          h3 9. Styling the menu & stuff
          .seen
            i(class='icon dripicons-checkmark')
      
    include /footer.pug
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
