doctype html
html
  head
    title Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Simple website
          | The first steps to building your own website
          
    .container.divider
        
    p
      include /svg/tutorials/simple.html
    h2 What is a simple website ?
    p Getting started on building your first website project in code? Sure! But before that, you need to know certain things. Important things. 
    
    .all-tuts-detail.container.grid.divider
      .grid-item
        a(href="introductions.html").grid-c
          h3 1. Simple website introduction
      .grid-item
        a(href="domain_hosting.html").grid-c
          h3 2. Domain & Hosting
      .grid-item
        a(href="conventions.html").grid-c
          h3 3. Conventions
      .grid-item
        a(href="web_languages.html").grid-c
          h3 4. Web languages
      .grid-item
        a(href="first_files.html").grid-c
          h3 5. The First Files
      .grid-item
        a(href="first_layout.html").grid-c
          h3 6. First layout
      .grid-item
        a(href="adding_content.html").grid-c
          h3 7. Adding some content
      .grid-item
        a(href="styling_menu.html").grid-c
          h3 9. Styling the menu & stuff
      
    include /footer.pug
    
    script.
      $(".mainMenu .menuTutorials").addClass("selected");
