doctype html
html
  head
    title Need to know - Tutorials - KVD
    include /header.pug
  body.tutorial-content
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Tutorials: Need-to-know
          | Good stuff to know when building websites
    
    .container.divider
    
    .container
      p
        include /svg/tutorials/need.html
      h2 Feel free to explore
      p Need to know is a random set of information pieces. Hopefully they help you to add that extra configuration or setup needed to make your website better. All free stuff I might add!
        
    .all-tuts-detail.container.grid.divider
      .grid-item
        a(href="analytics.html").grid-c
          h3 Google Analytics
      .grid-item
        a(href="google_maps.html").grid-c
          h3 Google Maps
      .grid-item
        a(href="fonts.html").grid-c
          h3 Custom Font(s)
      .grid-item
        a(href="adobe.html").grid-c
          h3 What Adobe program to use?
      .grid-item
        a(href="programs.html").grid-c
          h3 My programs
      .grid-item
        a(href="seo.html").grid-c
          h3 SEO
  
    include /footer.pug

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
