doctype html
html
  head
    title SEO - Need to know - Tutorials - KVD
    include /header.pug
  body.tutorial-content(data-ref="seo")
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span Need-to-know: SEO
          | How can I make sure that Google likes my website?
    
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        a(href="index.html") need-to-know
        | &nbsp;&nbsp;&gt;&nbsp; 
        span seo
        
      h2 SEO the basics: how to follow Google
      
      p SEO is very unpredictable. You can have everything set up to do well, to get the best results, to rank at the top, to be found by your clients, and yet.. they don’t. Compare it to your mother in law coming to visit. You can prepare all you want but you just know, that one thing that can go wrong, will (thank you Murphy) and thus, you’re left in a bad predicament. But if you follow certain rules and protocols, have a gateway car ready to take you to the nearest pub, you can at least do damage control.

      p There are ways to cheat and get a ranking you don’t “deserve” or rather said, that your site doesn’t deserve. But in the long run, that will come back to bite you in the metaphorical ass. So I would recommend to not cheat unless you are very, very, very good at it, or you’re working with an external SEO partner that is expensive. Because chances are, they are cheating as well, on your behalf.

      p Google is at the top of the SEO food chain and represents a lion in an otherwise weak jungle. Plus that lion is driving a tank mounted with machineguns. In Europe its market share is well over 90 percent. 90 percent! I mean that’s not a lot of competition. So optimizing for Google is what you need to do. The other gazelles (Yahoo, Bing and friends) will benefit from it as well so for now, forget they even exist.
      
      h2 So first things first

      p You’ve made a website, or you’ve had one for a while, and you’ve put it online. Now, the waiting game starts. The game for Google to find you. How long will that take? It depends on a number of things; your relevance, service, backlinks, general links and website build, location, servers, etc. and a lot of technical stuff. However, if you’ve just published your site, you might want to tell Google what’s up, instead of waiting for them to come to you. You can just #[a(href="https://www.google.com/webmasters/tools/submit-url?pli=1", target="_blank") go to this link] and fill in the domain of your website. Mine would be: kenvandamme.com. From that moment on, Google knows there is new material to explorer and your website will be fast tracked to get “Googled on”.
      
      p Now comes the optimization. There are 3 general categories here. One only a good designer/developer can do, one a good copywriter should do and one both should always makes sure is done. But the truth is, you need a good communication between the designer and the copywriter. Maybe you are the same person, maybe not, but both should optimize.
      
      h2 Tips and tricks

      p SEO has certain guidelines and most of them come down to clean code. If you look at the idea behind HTML5 to give our semantics more meaning, it’s clear that we have to keep our code clean and more importantly, make sure structure is easily found within it. Google looks at your HTML code and has to figure out what you’re trying to sell. Whether an idea, service or product, every site has a subject or a purpose (let’s hope so) and that has to be made clear to your user, but more importantly to the search engine in question. If you have the best website in the world and nobody finds it, it’s pointless. What we need to do, is make sure that we highlight our key words in any way possible. The ones that describe who we are, what we do and why we deserve your money and/or attention.

      p In the hope that the lazy developer in you made it this far, I’ll sum up the things you have to apply and exemplify if need be.
      
      p.quote 1. Use bold in paragraphs to make the text scannable.

      p Text that the user and Google can scan is text that is more likely to be read. Google also realises that these bold words are important and that if people search for them, they should end up on the pages of your website. Make sure you use the &lt;strong&gt; tag and not the old school &lt;b&gt; tag, this is not 2003.

      p.quote 2. Make sure to use lists to sum things up.

      p It’s the only way people are likely to see and read them. Don’t just write a semicolon and sum up what you can do for your clients. Even if it’s: a lot, important, crucial, etc..

      p.quote 3. Use short sentences for titles.

      p Preferable no punctuation, no determiners and between 3 and 7 words.

      p.quote 4. Your links are super important, so makes sure people know what will happen when they click on them.

      p Make them active and use a verb in them. Don’t just make a link out of “can be found here” but make it “#[span(style="color: blue; text-decoration: underline; cursor: pointer;") took a look at my vacation photo’s here]”. Be honest, did you click on it?

      p.quote 5. Validate your code.

      p You can just let a system #[a(href="https://validator.w3.org/", target="_blank") check your code] very fast to make sure it’s all legit and you haven’t forgotten to close something.

      p.quote 6. Use the meta description tag.

      p You don’t really need the keywords one. It’s been deprecated for a while now. Make sure you make it at least 150 characters long and unique for page.

      p.quote 7. Always specify your pages title tag.

      p Make it at max 66 characters long. More will be hidden and loose importance. Make these unique per page.

      p.quote 8. Use a clean URL to specify the hierarchy of your websites, same as breadcrumbs do.

      p Don’t put spaces or underscores in your URL. Those are “icky”. Yea, that’s a professional term.

      p.quote 9. Always, and I do mean always, full in the ALT tag for images.

      p I sometimes forget or I’m just too lazy and it always comes back to bite me in the ass.

      p.quote 10. Use Google Analytics to optimize your website in speed, visitors, queries, ..

      p I wrote a #[a(href="index.html", target="_blank") tutorial about this] a while back.

      p.quote 11. Use Google Webmaster Tools to update sitemaps and check the sites for errors.

      p It's free and easy. Just #[a(href="https://www.google.com/webmasters/#?modal_active=none", target="_blank") go check it out].

      p.quote 12. Provide an HTML and XML sitemap for your website.

      p An HTML sitemap in the footer of the website for visitors and an XML sitemap for search engines. Don’t forget to upload it and update it. There are free tools to #[a(href="https://www.xml-sitemaps.com/", target="_blank") make such an XML sitemap].

      p.quote 13. Make sure you provide Google with a robots.txt file, even if it’s empty.

      p Don’t worry, you can #[a(href="http://www.robotstxt.org/", target="_blank") figure out here] what it is and how it’s suppose to look.

      p.quote 14. Use Google AdWords to check the words you are using the website the most.

      p Are these good words? Do other people use them? Maybe you could pay per click?

      p.quote 15. Provide people with a favicon for recognition.

      p Make sure it works in every browser and on mobile as well!

      p.quote 16. Every browser that is somewhat decent will provide you with add-ons or extensions to measure and/re optimise your SEO ranking.

      p Most of them are free and some you have to pay for. Use them.

      p.quote 17. Make sure your website can enjoy organic growth via backlinks.

      p Make your website good and provide a solid service and people will start linking to your site. You should link to them and others: clients, referrals, etc.

      h2 So...

      p This should be your checklist and depending on the size of your site, you might have to go over this list more than once per year. Just because it’s done, doesn’t mean the work is done. On the contrary, you have to update, renew and improve!

      p Just to make sure you have some source files to fall back onto, I’ll provide two links to pdf’s Google handed out themselves concerning SEO:

      p #[a(href="../../images/tutorials/need-to-know/Google_one-page_SEO_Guide.pdf", target="_blank") Google one-page SEO Guide] & #[a(href="../../images/tutorials/need-to-know/search-engine-optimization-starter-guide.pdf", target="_blank") search-engine-optimization-starter-guide]
  
    include /footer.pug

    script.
      var savedTutorials = JSON.parse(localStorage.getItem("tutorials")) || [];
      savedTutorials.push("seo");
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .need6").addClass("active");
