@import "../../styles/vars";
@import "../../styles/mixins";

.footer {
  margin: 150px auto 50px;

  .container {
    background-color: $grey_light;
    border-radius: $radius;
    padding: 15px 20px;
    font-size: $font-size_small;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
  }

  span,
  a {
    font-weight: 700;
  }

  a {
    position: relative;
    color: $black;

    &::after {
      content: "";
      background-color: $black;
      position: absolute;
      left: -1px;
      right: -1px;
      top: 100%;
      bottom: -2px;
    }

    &:hover,
    &:focus {
      &::after {
        top: calc(100% - 3px);
        background-color: $yellow;
      }
    }
  }

  .to-top {
    background-color: $grey_light;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    border: 3px solid $white;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: $white;
      box-shadow: $shadow_dark;
    }
  }

  .disclaimer {
    padding: 30px 20px;
    text-align: center;
    font-size: $font-size_tiny;
  }
}
