doctype html
html
  head
    title Introductions - Photoshop - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Photoshop: Introductions
          | Let's take a look at Photoshop. Where do we start?
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .photoshop1").addClass("active");
