doctype html
html
  head
    title Introductions - Photoshop - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Photoshop: Introductions
          | Let's take a look at Photoshop. Where do we start?
    
    .container.divider
      p Photoshop is awesome. It’s expensive software but it’s awesome. There are moments when I’m using it, that I get very mad or frustrated with a specific tool but in the end, there is nothing else like it. Nothing else that is as powerful and has as many options as Photoshop does. It might be payable software but totally worth its cost(s) in my opinion.
      
      p I’ve started using it years ago and I’ve had to use it ever since for work but I’ve noticed that’s it my go to software if I need to do anything with images. And I do mean anything. I might even just want to scale a picture down, I’m going to use Photoshop.
      
      h2 The evolution
      
      p Photoshop has been around for a while. We’re currently at version CC. Like every other Adobe product, Photoshop has grown with every new version of CS. When we reached CS6, Adobe decided to switch to a different name than CS7 and went with CC, which stands for Creative Cloud. When you buy it now, you actually rent it out per month. You pay a subscription fee and they’ll provide a link where you can login and download your software. No more physical discs will be send to you. This has its positive and negative sides, like everything always does.
      
      p Imagine that you can download your software on any computer in a safe way and that you can work on all your documents from any location. That’s just awesome. As a person that takes his work back home, this is just handy. I can put files online and continue right where I left off. I save time and effort backing everything up to a flash drive or hard drive and having to carry that around (which I end up doing for other stuff anyway but hey..).
      
      p Now back to why Photoshop is awesome. It has come a long way in possibilities, but actually you can’t do much more stuff then let’s say 5 years ago. Yet, it has come very far? Confused? Well, what I’m trying to say is going to be made clear in the next example.
      
      p So, you went to the beach and took a lot of pictures (not selfies, but actual pictures) and although they look nice, you’d prefer if the creepy guy in the background wasn’t touching himself. So, let’s #[a(href="https://en.wikipedia.org/wiki/Photo_manipulation#Photoshopping", target="_blank") Photoshop] him out of the picture. In the old days (so, those 5 years ago) that might have taken us 2 hours. And then boom, he was gone. No more calling the police to report this seasonal crime of inappropriateness. But with the current version of Photoshop, that same operation (cutting the background guy out of the picture) might have taken us 2 minutes. That is an increase in productivity of 6000%. And that’s actual math that I’m using!
      
      h2 Making selections
      
      p To be able to make that guy disappear we need to select him, then cut him. Not actually cut him but like delete him out of the picture. That part is easy. But making the selection is a bit more complicated. Making a good selection requires two things. Experience and time. Those pretty much mean the same thing. But even a seasoned Photoshopper might be able to do this operation in 10 seconds, he still needs to take 2 minutes to do it perfect. You have to invest more time if you want a good, realistic result. You can’t get away from that. Photoshop isn’t a program where you can alter a photo completely in a matter of seconds (sometimes it does though and that is awesome). It promotes that idea as a commercial aspect. But you’ll need that extra time to make the result any what believable.
      
      p Why is Photoshop fast today, compared to the old days? Well, one word: content-aware. To be fair, those are two words, I know. But it’s the main reason Photoshop can do what it does today. It’s very much part of the magic of the software. If I would explain it, it would just be that Photoshop has a certain intelligence that knows what you want to do. And it works pretty well. Not all the time, but most of the time. And that, in my opinion, is impressive. Because in most cases, software that thinks, doesn’t think like us and it’s sometimes difficult to talk to the computer and be like: “no dude (I call all my computers – dude), you have to do this, not that”.
      
      h2 Content-Aware
      
      p Content-ware does what the name indicates, it will do something, whilst being aware of its surroundings. I go to the beach with some friends and then decide to take a picture. But Tina is also there and I don’t like Tina, so I’ll cut her out of the picture. If I would just cut her out though, there would nothing where she used to be. We need there to be sand or water where Tina was before. That way it’s more believable. In the old days we had to copy some sand and water and paste it over her slowly. Making sure we didn’t use the same sand and water everywhere. People would notice that. Now we can just let Photoshop try and do it. Like I said, it won’t be perfect, but definitely a step in the right direction.
      
      img(src="../../images/tutorials/photoshop/ps_vb2.jpg", class="centerText")
      
      p.quote Picture with Tina on the right
      
      img(src="../../images/tutorials/photoshop/ps_vb1.jpg", class="centerText")
      
      p.quote Picture without Tina (sorry Tina) - 32 seconds of work
      
      p I wanted to also give you some practical stuff to do but I already talked too much and you had to read all of that, so let’s try an exercise. This exercise starts from the idea that you have opened up Photoshop before but you don’t really know what all the buttons means or what they do. If you’ve tweaked around with it before, most of this stuff will be known to you already.
      
      h2 Simple spot healing brush tool
      
      p So first things first, open a picture you want to edit. If you don’t have any clue where or which picture you would like to edit, use the one below.
      
      img(src="../../images/tutorials/photoshop/ps_ex0.jpg", class="centerText")
      
      p So, the idea is, we delete something out and replace it with some background information. But there needs to be enough background information. Here, we’ll try to remove the boat, because you're not allowed to sail here (poor guy, he probably didn't know). So open up the picture in Photoshop and select the Spot Healing Brush Tool.
      
      img(src="../../images/tutorials/photoshop/ps_ex3.jpg", class="normalImg")
      
      p Then set the appropriate size of the brush at the top. I took 82.
      
      img(src="../../images/tutorials/photoshop/ps_ex4.jpg", class="normalImg")
      
      p Click and drag (so you're drawning) what you want to delete out of the picture. Let go of the mouse when done. Remember to make your selection in one go, as often this will provide you with a better result.
      
      img(src="../../images/tutorials/photoshop/ps_ex2.jpg", class="centerText")
      
      p This should be the result we're looking at now.
      
      img(src="../../images/tutorials/photoshop/ps_ex1.jpg", class="centerText")
      
      p Proverbial tadaaah! The boat is gone and you're staring at a boring open sea without anyone sailing on it. This is your sea now!
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .photoshop1").addClass("active");
