doctype html
html
  head
    title Puppet warp - Photoshop - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Photoshop: Puppet warp
          | We will make the puppets dance in the name of Photoshop
    
    .container.divider
      p Photoshop is fun. If you don’t agree, you haven’t been using it to its full potential. Photoshop will allow you to edit or optimize mages, sure. But it also allows you to do fun and crazy stuff. Sometimes, even some of this crazy stuff is actually a very efficient way to make photos unique and/or better.
      
      p One of the fun things to use is Puppet Warp. This is a technique you can use to warp parts of your images to your liking. I’ll give you an example below. I’ve got this image that’s a tad boring and I wanted to add some dynamic changes. I’ve taken the trunk of this elephant and I’ve added some bents to it via the Puppet Warp tool. Check it out.
      
      img(src="../../images/tutorials/photoshop/elephant-start.jpg", class="centerText")
      
      p.quote So, this is the start image.
      
      img(src="../../images/tutorials/photoshop/elephant-end.jpg", class="centerText")
      
      p.quote And I’ve made some small changes to make it a bit more.. moving.

      h2 Practices

      p So, where and why would you use the Puppet Warp? It makes sense that #[a(href="https://www.youtube.com/channel/UC_vAFkRkVzJA-SHhENUkOAQ", target="_blank") everything you want to bend], you can do using the Puppet Warp Tool. This bending can be used to:

      ul.conlist
        li Move somebody’s limbs into any direction
        li Curving anything that can be curved (you can’t curve the sun though, can’t be done, but a lot of other stuff, sure)
        li Making somebody smile
        li It’s something that’s a fun extra to fine-tune an image. It can’t really be used to make major changes without losing realism. As is always the case with Photoshop, the bigger the change, the more you’ll notice its #[a(href="https://en.wiktionary.org/wiki/photoshopped#English", target="_blank") photoshopped].
      
      h2 Let’s do it

      p So, we’ll use this tool on a random image from the internet of a person that isn’t smiling and we’ll make them smile using the Photoshop force. They’ll have no choice in the matter. You can use this on an image you have of that one person in the family that never smiles and because of this, ruins your pictures. In my family, that’s me.

      p Our start image has a person that isn’t smiling. As always, let’s pick a random person from the internet.
      
      img(src="../../images/tutorials/photoshop/Bruce-start.jpg", class="centerText")
        
      h2 Step 1: Selection

      p Open the image in Photoshop and rename the background layer by double clicking it. The first thing we have to do before we can Puppet Warp this dude is we’ll have to make a copy of what we want to edit. If we do it on the entire face, it might (will) warp entirely and that’s not good. So first, we’ll make a selection of the mouth area. I’ll take my Polygonal Lasso Tool as it doesn’t have to be perfect. Just enough so we have the lips, mouth and an area around it.
      
      img(src="../../images/tutorials/photoshop/lassoTool.png", class="normalImg")
        
      p If we select just a little bit more here, it’ll make it easier for us to then change and integrate it with the background. Just look at the image below to see how big my selection is.
      
      img(src="../../images/tutorials/photoshop/Bruce-selected.jpg", class="normalImg")
        
      p We’ve now selected a part that we’ll change later. But because of that change, our colors, shadows and light might be off, so before copy and pasting my selection, I’m going to feather it, making the transition from selection to surrounding a bit softer.
        
      img(src="../../images/tutorials/photoshop/feather-menu.png", class="normalImg")
        
      p I’ll do this via the menu #[strong Select -> Modify -> Feather]. And as a value, I’ll pick 4 pixels (although I wrote 5 in the screenshot, it's a curveball people!). This is a number you decide on and its trial and error. Not to mention situational. I’ve tried with a couple of values and 4 worked for me for this image.
      
      img(src="../../images/tutorials/photoshop/feather-value.png", class="normalImg")
        
      h2 Step 2: Copy and paste
      
      p With the current selection being feathered (that’s a word right?), we’ll copy and then paste it onto a new layer. You can do this via the shortcuts #[strong CTRL + C] (copy) and #[strong CTRL + V] (paste). A new layer will be created for us automatically. Note that our selection is now also gone. And that’s good.
      
      img(src="../../images/tutorials/photoshop/Bruce-seperate-layer.png", class="normalImg")
        
      h2 Step 3: Puppet Warp his mouth!
      
      img(src="../../images/tutorials/photoshop/puppet-warp.png", class="normalImg")
        
      p With this new layer selected, go to #[strong Edit -> Puppet Warp]. We’ll notice a bunch of triangles pupping up. These mesh out our shape. Don’t worry if you have no idea what that means or why they are there, you can just ignore them. What we’ll now have to do, is add control points to our layer. Simply do this by clicking anywhere on the triangles. Notice that I make a couple of points, rather than just two, although we’re only going to adjust two of them. You need to make the other points and define some sort of skeleton, otherwise we might warp too much of the layer. I’ve put 8 points on total.
      
      img(src="../../images/tutorials/photoshop/control-points.png", class="normalImg")
        
      p Now click on the points at the outer most left and right and drag them up a bit, to make him smile. Emphasis on a bit. You could go overboard really fast but then you lose any and all realism.
      
      img(src="../../images/tutorials/photoshop/control-points-moved.png", class="normalImg")
        
      p When you’re done moving these points, we’ll have to cancel or confirm our transformation by clicking on one of the sign at the top right. And that’s it!
      
      img(src="../../images/tutorials/photoshop/check.png", class="normalImg")
        
      h2 Result
      
      p So I’ve put our result next to our start image, so we can compare a bit easier. On the left we have normal Bruce, smiling ever so slightly. On the right we have the creepy clown version of that with a somewhat less subtle smile. I never claimed we were going for realistic or good, but rather for fun and crazy. There you go, making somebody smile with humour is totally overrated, use Photoshop.
      
      img(src="../../images/tutorials/photoshop/Bruce-end.jpg", class="centerText")
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .photoshop5").addClass("active");
