doctype html
html
  head
    title Selections #1 - Photoshop - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span Photoshop: Selections #1
          | Let's select our selection to get more selections
    
    .container.divider
      p So, let’s face it, I didn't give you much information on Photoshop in the previous tutorial, mostly some back story and general explanation. Less talking, more doing !
      
      p So, let’s talk (what did I just say ?!) about selections in Photoshop. People might say that Photoshop is a tool to optimize photos and they are not wrong, but a lot of software is capable of that. So what’s so special about Photoshop ? Well, I just said that (pay attention), selections. You can select a part of your image and edit it. Or delete it completely, like #[a(href="index.html") in the last tutorial]. It’s those selections that are unique to Photoshop. The possibilities are endless. But because of this, the tools you can use to select are plentiful, so which one do we choose ? That depends on your goal and it will change. So let’s take a look at the easiest and best ones. Surprise, they’ll be the same. *Platonic Wink*
      
      p You’ll find selection options in two places: as tools and via the select menu. The tools are more practical and easier to access, but sometimes the menu gives us more options. So let’s take a look at our tools.
      
      p There are three main categories represented by a series of tools and sub tools. In Photoshop, there’s so much stuff you can do that even the tools have tools. Those sub tools are hidden behind the tools that have the little black arrow icon on the right. To show these sub tools, just right click on a tool or hold down the left mouse button for a second. You’ll see the tools put out on the side.
      
      p Number of tools in this paragraph: too damn high!
      
      img(src="../../images/tutorials/photoshop/selectTools.jpg", class="normalImg")
      
      p The first category is the one you’re probably going to use the least: the ones with the geometrical selections. There’s:
      
      img(src="../../images/tutorials/photoshop/geoTools.jpg", class="normalImg")
        
      p You’ll use these less because in most cases you want to select something on an image that is not geometrical. Like everything that existence in nature. It can happen that you’ll need a perfect circle or square to cut something out of an illustration or picture but way less than you think.
      
      p That’s why we’re kind of jumping to the other tools, because let's face it, they are more awesome. I just didn’t want to say that in front of the Marquee Tool, it has feelings. The Lasso Tool lets you select whilst drawing the selection with your hand. You can freely decide what you want to select. And although it requires a steady hand, it’ll give you a lot of freedom to select certain parts of an image you want to edit.
      
      p Here we have a couple of sub tools again:
      
      img(src="../../images/tutorials/photoshop/lassoTools.jpg", class="normalImg")
        
      p Now, let’s work on a practical example. Imagine I wanted to select something of a certain image:
        
      img(src="../../images/tutorials/photoshop/psTime.png", class="centerText")
        
      p Let’s open up this image in Photoshop and select our Lasso Tool and lets draw a selection around the text. You’ll notice that the moment you let you go, those ant lines show up. Photoshop calls them ant lines because they appear small and constantly moving, makes sense right ? You now have an active selection, that means that everything you now do (move, delete, change, ..) will be done on the selection, not the entire image. And those ant lines represent your selection.
      
      img(src="../../images/tutorials/photoshop/psTimeAnts.png", class="centerText")
        
      p I’ve selected our text and now I’ll press delete or backspace. Depending on your image this might work or it might not. If you’ve saved this PNG and then opened it in Photoshop, it should have worked for you too. Now we can save our document without the text and give it a different name.
      
      p Making this selection by hand is difficult if it would have had a background, cause than we have to be very specific. With the mouse, that would proof very difficult, if not impossible. Maybe after 10 years of training and even then. The other Lasso Tools work very similar than the basic Lasso Tool but the Polygonal Lasso Tool makes selections via perfect straight lines and the Magnetic Lasso Tool does it by snapping to parts of your image. Both are fun and/or annoying to work with but I want to continue to my more preferable tool by choice: The Magic Wand Tool and the Quick Selection Tool.
      
      p As the name states the –Magic Wand Tool- is truly magical as it selections similar colours that are immediately touching. So imagine that I would give you this picture: 
      
      img(src="../../images/tutorials/photoshop/toothless.png", width="50%", class="centerText")
  
      p.quote The before picture
      
      p And the assignment would be for you to change the background colour. The first step would be to select the current background and delete it. Because it's just one solid colour you can attempt using the Magic Wand Tool. That's what it's there for. It can select a region that consists of the same colour in an instant. You can then delete the background yet again via delete or backspace.
      
      img(src="../../images/tutorials/photoshop/toothlessSelection.png", width="50%", class="centerText")
        
      p.quote The picture showing the selection via the Magic Wand Tool
      
      img(src="../../images/tutorials/photoshop/toothlessAfter.png", width="50%", class="centerText")
        
      p.quote The after picture
      
      p Fast selection is key, because you'll save time. More about the Quick Selection Tool in the next tutorial!
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .photoshop2").addClass("active");
