@import "../../styles/vars";
@import "../../styles/mixins";

.postfilter,
.main__header__filter {
  &.css,
  &.CSS,
  &.git,
  &.Git {
    background-color: $green;
  }

  &.js,
  &.JS,
  &.app,
  &.App {
    background-color: $yellow;
  }

  &.ps,
  &.PS,
  &.ext,
  &.Ext {
    background-color: $blue;
  }

  &.seo,
  &.SEO,
  &.web,
  &.Web {
    background-color: $red;
  }

  &.general,
  &.GENERAL {
    background-color: $purple;
  }
}
