.notfound{
  text-align: center;
  background-color: $primary;

  h1{
    color: $white;
    font-size: 35px;
    margin: 100px auto 30px auto;
  }

  h2{
    color: $grey__;
    opacity: 0.3;
    font-size: 25px;
    margin: 30px auto 100px auto;
  }

  img{

  }

  p{
    color: $grey__;
    opacity: 0.5;
    margin: 30px auto;
  }

  a.but{
    margin: 20px auto 0 auto;
    display: inline-block;
    color: $grey__;
    border-radius: $corner;
    padding: 15px 20px;
    background-color: $white;
    transform: scale(1);
    border: 2px solid $secondary;

    &:hover{
      transform: scale(1.1);
      border: 2px solid $blue;
      background-color: $_blue;
    }
  }
}
