.design{
  .design_portfolio{
    .grid-item{
      .grid-c{
        padding: 0;
        position: relative;
        overflow: hidden;

        a{
          display: block;
          line-height: 50px;
          height: 50px;
          width: 100%;
          position: absolute;
          bottom: -50px;
          left: 0;
          text-align: center;
          color: $primary;
          background-color: $white;

          i{
            font-size: 12px;
            margin-right: 10px;
          }
        }

        img{
          display: block;
          width: 100%;
          //border-radius: $corner;
          position: relative;
          opacity: 1;
          top: 0;
        }

        &:hover{
          box-shadow: 0 0 10px $_grey;
          border: 1px solid $primary;
          transform: scale(1);

          a{
            bottom: 0;


            &:hover{
              background-color: $primary;
              color: $white;
            }
          }

          img{
            opacity: 0.8;
            top: -50px;
          }
        }
      }
    }
  }

  .sold_items{

    img{
      opacity: 0.1;
      margin: 0 20px;

      &:hover{
        opacity: 1;
        transform: scale(1.5);
      }
    }
  }
}
