.fallback{
  position: fixed;
  background-color: $black;
  background: rgba($black, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250;
  color: white;
  display: block;

  .close{
    position: absolute;
    width: 350px;
    top: 30px;
    left: 50%;
    text-align: center;
    margin-left: -150px;
    opacity: 0.5;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }

    p{
      font-size: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    span{
      font-style: italic;
    }
  }

  p.joke{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    max-width: 100%;
  }

  p.update{
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -261px;
    color: $primary;

    &:after{
      content: "";
      width: 1px;
      height: 30px;
      background: $primary;
      position: absolute;
      bottom: -50px;
      left: 50%;
    }
  }

  .pick{
    position: absolute;
    bottom: 50px;
    list-style-type: none;
    width: 320px;
    left: 50%;
    margin-left: -160px;

    li{
      display: inline-block;

      a{
        svg{
          width: 40px;
          margin: 0 10px;
        }

        &:hover{
          svg{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.hide{
  display: none;
}
