.home{
  .github_contributions{
    border: 1px solid $_grey;
    background-color: $white;
    border-radius: $corner;
    clear: both;
    max-width: 790px;
    padding: 20px 0 30px 0;
    margin: 60px auto -170px auto;
    display: block;

    @media screen and (max-width: 780px){
      border: none;
      border-top: 1px solid $_grey;
      border-bottom: 1px solid $_grey;
      border-radius: 0;
      margin: 60px -20px -170px -20px;

      img{
        width: 100%;
      }
    }
  }

  .all-link {
    clear: both;
    
    a {
      color: $primary;
      line-height: 50px;

      i {
        position: relative;
        top: 3px;
        left: 5px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  /*.grid-item{
    @media screen and (max-width: 700px){
      float: none;
      width: 100%;
    }
  }*/

  .container .colums-3 .col{
    @media screen and (max-width: 700px){
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .container .colums-3 .col:nth-child(2){
    @media screen and (max-width: 700px){
      border-right: none;
      border-left: none;
      border-top: 1px solid $_grey;
      border-bottom: 1px solid $_grey;
      padding: 30px 0;
    }
  }

  .news_holder{

    .grid-item a{
      position: relative;
      overflow: hidden;

      span{
        color: $primary;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 13px;
        position: absolute;
        top: -10px;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }

      .icon {
        svg {
          max-width: 26px;
          max-height: 26px;
        }
      }

      &:hover{
        span{
          top: 40px;
        }

        .icon{
          opacity: 0.3;
        }
      }
    }

    h2 span{
      background-color: $blue;
      color: $white;
      font-size: 20px;
      border-radius: $circle;
      padding: 2px 7px;
      position: relative;
      top: -8px;
      right: -10px;
    }
  }

  .slideshow{
    position: relative;
    max-width: 960px;
    height: 179px;
    overflow: hidden;

    .tri{
      background-color: $white;
      height: 250px;
      width: 100px;
      transform: rotate(12deg);
      box-shadow: 0 0 20px $_grey;
    }

    .arrow{
      width: 20px;
      opacity: 0;
      transform: scale(0.2);
    }

    .next{
      position: absolute;
      top: 0;
      right: -60px;
      z-index: 5;
      cursor: pointer;

      &:hover{
        .tri{
          box-shadow: 0 0 20px $grey;
        }

        .arrow{
          opacity: 1;
          transform: scale(1);
        }
      }

      .arrow{
        position: absolute;
        top: 135px;
        left: 10px;
      }
    }

    .previous{
      position: absolute;
      top: -30px;
      left: -75px;
      z-index: 5;
      cursor: pointer;

      &:hover{
        .tri{
          box-shadow: 0 0 20px $grey;
        }

        .arrow{
          opacity: 1;
          transform: scale(1);
        }
      }

      .arrow{
        position: absolute;
        top: 50px;
        right: 5px;
      }
    }
  }
}
