.project{

  .containerHolderProjects{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;

    .grid_websites, .grid_github, .grid_dnd, .grid_random{
      background-color: rgba(255,255,255,0.9);
      position: absolute;
      top: -100%;
      min-height: 0px;
      width: 100%;
      left: 0;
      overflow: hidden;
      transform: rotate(30deg) scale(0.1);

      .overview{
        margin-bottom: 30px;
      }

      .grid-item{

        .grid-c{
          padding-top: 25px;
          background-color: $_blue;
          border: 1px solid $_grey;
          position: relative;
          overflow: hidden;

          .bg{
            display: block;
            width: 150px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80%;
            opacity: 0;
          }

          h3{
            text-align: left;
            font-size: 18px;
            color: $grey__;
            margin-top: 0;
            position: relative;
            left: 0;
          }

          p{
            text-align: left;
            color: $grey_;
            position: relative;
            left: 0;
          }

          &:hover{
            h3, p{
              left: 145px;
            }

            .bg{
              opacity: 1;
            }
          }
        }
      }

      .back{
        cursor: pointer;
        max-width: 200px;
        margin: 0 auto;

        i{
          margin-right: 10px;
        }

        &:hover{
          color: $primary;
        }
      }
    }

    .grid_websites_active, .grid_github_active, .grid_dnd_active, .grid_random_active{
      top: 55px;
      min-height: 515px;
      transform: rotate(0deg) scale(1);
    }
  }
}
