.tutorial{
  .search-tut{
    .search-block{
      max-width: 700px;
      margin: 40px auto 0 auto;
      position: relative;
      overflow: hidden;

      input{
        background-color: $__grey;
        display: block;
        padding: 15px 50px;
        font-family: $font;
        font-size: $size;
        line-height: $line-height;
        font-weight: $font-weight;
        color: $grey_;
        border-radius: $corner;
        width: 100%;
      }

      .search{
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 23px;
        line-height: 59px;
      }

      .clear{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 19px;
        line-height: 61px;
      }
    }
  }
}

.tutorial-content{

  .container{
    text-align: left;

    p{
      margin: 30px auto;
    }

    a{
      color: $primary;
      border-bottom: 1px solid $__grey;

      &:hover{
        color: $blue;
        border-bottom: 1px solid $blue;
      }
    }
  }

  .code_example{
    padding: 1.2em;
    overflow: auto;
    margin: 30px auto;
    border-radius: 3px;
    max-width: 745px;
    border: 1px solid $_grey;
  }
}

.all-tuts{
  .grid-item{
    transform: scale(0.1);
    max-height: 0;
    overflow: hidden;

    .grid-c{
      background-color: #FFF;
      border: 1px solid #CCC;
      position: relative;
      overflow: hidden;
      padding: 20px 30px;

      h3{
        color: $grey_;
        font-size: 16px;
        text-align: left;
      }
    }
  }

  .show_result{
    transform: scale(1);
    max-height: 400px;
  }
}

.tutorial-content-example{
  background: url(../images/tutorials/simple/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Unique for Bootstrap page */
.font-example{
  font-size: 30px;

  i{
    cursor: pointer;
    margin-right: 20px;

    &:hover{
      color: $primary;
    }
  }
}
