.tutorial{

}

.tutorial-content{

  .container{
    text-align: left;

    p{
      margin: 30px auto;
    }

    a{
      color: $primary;
      border-bottom: 1px solid $__grey;

      &:hover{
        color: $blue;
        border-bottom: 1px solid $blue;
      }
    }
  }
}
