doctype html
html
  head
    title Conventions - Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content(data-ref="conventions")
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 3. CONVENTIONS
          | Follow the rules, because otherwise your users will mess up
          
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        a(href="index.html") simple website
        | &nbsp;&nbsp;&gt;&nbsp; 
        span conventions
        
      h2 Resolution & Pixels
      
      p.quote In digital imaging, a #[mark pixel] is a physical point in a raster image, or the smallest addressable element in an all points addressable display device; so it is the smallest controllable element of a picture represented on the screen.
      
      p Aaand thank you #[a(href="https://en.wikipedia.org/wiki/Pixel", target="_blank", rel="noopener") Wikipedia]. All clear ? No ? Why not ? #[strong Because that didn’t make any sense]. Here again for normal people: A #[mark pixel] is a measurement. More precisely, it’s the measurement of our resolutions. That means that I can tell that my screen is 1920 #[mark pixels] wide, whilst yours might be #[mark 2400]. It’s the number of squares you have on your screen and they each have their individual colour. Together they form an image. But because there is such a huge number of them, you won’t notice actual squares, just a nice looking image. Unless the quality of your image is terrible, then you would see them.
      
      p What is important to remember is that everyone has a different amount of #[mark pixels]. And that results in all of us having a varying #[mark resolution]. And that sucks. Because I want to make my website work for you, for me and for my cousin. Not to mention the tennis club. What I’m getting at is that web design is very much focused on its audience. I’m not making a website for me (well, kind of for me...) or my clients. But for my clients’ clients. They’ll be reading the website or buying stuff from it. If they can’t see it or if some parts are cut off, people start losing visitors. Potential clients. And I don’t have to tell you that that is bad.
      
      h2 Follow
      
      p What we all need to follow are certain conventions. Because everyone online should be able to use and view your site. But if your menu only pops out when you double click the screen, 90% of your visitors won’t see your menu. #[strong Even though it may be the best menu in the world]. You can be creative, as long as you follow certain rules (You can bend them, but dont break them).
      p One of the mentioned conventions is the placement of your website. Nowadays websites will get a #[mark fixed width] and are placed in the middle. Height-wise there’s not really a restriction. People scroll and that won’t change any time soon. But they will only scroll vertically, not horizontally. When was the last time you got mad because you had to scroll horizontally on one of those old, annoying sites ?! So a #[mark fixed width] and a website in the middle and top of our page works best. What I usually do is look at the person with the oldest screen to make sure he/she can also enjoy our awesome website. One of the “oldest” resolutions today is #[mark 1024 pixels]. Notice, that I’m ignoring the height because of reasons stated before. That simply means that my site has to be smaller than 1024. Now you’ll notice that it’ll be reduced to about 990 or 960. The scrollbar on the right also takes up its space on the page and using a 1000 #[mark pixels] is just a bit too much. Most designs divide your website into columns (two to four usually), so I’ll pick a value that is divisible by 3 or 4. In case that was too fast remember: #[strong a website has to work for all resolutions]. Smallest #[mark resolution]: 1024. Scrollbar also uses space so take that into consideration. Using columns will make things easier for you so pick a width that is divisible by the number of columns you will be using (usually 3 or 4).
      
      h2 Browsers & Platforms
      
      p If we talk about conventions we talk about problems. #[strong One of those problems is Internet Explorer]. If you’ve ever made a website yourself, you’ll simple smile and agree with me here. It’s not an outrageous claim and it’s not to be mean towards anyone. But IE is just bad. The way browsers work is they show you the stuff that’s on the internet. And that’s good. But to show that stuff, websites have to be made. And those have to work in all browsers. But the web lives and evolves. We can do so much more than we could only a year ago. That’s why most browsers evolve with us. Chrome, Opera, Safari and Firefox all have the luxury to update #[strong automatically]. And with that update we can do new stuff. We can do cool stuff. Internet Explorer works a little bit differently. Every version is a #[mark stand-alone version]. That means you can have multiple ones installed on your system. Or not the recent one. I know so many people with Internet Explorer 8 as their main browser. Still. Version 8. That’s an old version. For those who don’t know: we’re currently on IE 11. Why do they use it ? Mostly it’s: they don’t know any better or they can’t because of technical restrictions. #[strong And that’s sad]. But you can’t expect an old browser like IE8 (from 2006) to understand the code we are using now. So our websites will not work on those browsers and that’s annoying. For us, but more for our user. They didn’t do anything wrong, they just don’t realise they are using old software. So it’s up to us to fix it. And that’s how the everlasting war against IE started and why web designers don’t like IE (the old versions).
      p Enough about that rant. #[a(href="http://gs.statcounter.com/#all-browser-ww-monthly-200812-201610", target="_blank", rel="noopener") Here are some solid number you can focus on].
      p Now, depending on your locations, you’ll have to remember that some browsers will be more popular than others. You can always use the statistics from your website to personalise those numbers a bit. If you’re not doing this yet, #[strong no more excuses]. Here’s a link to a free way to analyse your data and I’ll also provide a link to make sure you can install it.
      p Use the free tool #[a(href="https://www.google.com/analytics", target="_blank", rel="noopener") Google Analytics].
      
      h2 Fonts
      
      p As far as customization on your end goes, most of it will be fixing small problems that just won’t work for that specific browser. You’ll have to make your website work everywhere and on every system, and preferably in the same way. But more and more, people will start focusing on the visual, rather than the content. #[strong Superficial much] ? So you’ll also have to focus more on the design than in the past. Being unique and creative is necessary, without breaking any main conventions. What that will result into is the use of custom fonts. Pretty easy actually, but remember, some fonts might not work or the quality might be awful. Not to mention that some fonts are crazily expensive. Luckily there are free options that are solid. We’ll look into those. But I will always recommend you use a custom font to step away from competitors but also, if you keep on using the older standard #[mark web safe fonts], people will start to feel and think #[strong you’re website is outdated].  
      
    include /footer.pug
    
    script.
      var savedTutorials = JSON.parse(localStorage.getItem("tutorials")) || [];
      savedTutorials.push("conventions");
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple3").addClass("active");
