doctype html
html
  head
    title Styling menu - Simple website - Tutorials - KVD
    include /header.pug
  body.tutorial-content(data-ref="styling_menu")
    include /nav.pug
    include /tweets.pug
    include _side.pug
    
    .top
      .container
        h1 
          span CODING FROM SCRATCH: 7. STYLING THE MENU
          | Lets add some more styles beyond those ugly colors.
          
    .container.divider
      p.breadcrumb
        a(href="../") tutorials
        | &nbsp;&nbsp;&gt;&nbsp; 
        a(href="index.html") simple website
        | &nbsp;&nbsp;&gt;&nbsp; 
        span styling the menu
      
      iframe(width="100%" height="540" src="https://www.youtube.com/embed/3A7CioanPe8" frameborder="0" allowfullscreen)
      
      p We'll style our menu, our content and out footer. We'll still have the ugly & flashy colors in there to organise everything but we're close to not needing them. Our one-page site is done, we just need to apply it to our other pages.
      
    include /footer.pug
    
    script.
      var savedTutorials = JSON.parse(localStorage.getItem("tutorials")) || [];
      savedTutorials.push("styling_menu");
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .simple8").addClass("active");
