body{
  background-color: $white;
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $grey__;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}

h1{

}

h2{

}

h3{

}

h4{

}

p{

}

a{
  text-decoration: none;
}

ul{

}
