body{
  background-color: $white;
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $grey_;
}

.body_overflow{
  overflow: hidden;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

h1{
  color: $white;
  font-weight: normal;
  max-width: 700px;
  margin: 0 auto;
}

h2{
  color: $grey__;
  font-size: 30px;
  font-weight: normal;
  max-width: 700px;
  margin: 30px auto;
}

h3{
  max-width: 700px;
  margin: 10px auto;
  color: $grey__;
  font-size: 18px;
}

h4{

}

a.c{
  p{
    color: $grey_;
  }
}

p{
  max-width: 700px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul{

}

.clear{
  clear: both;
}

.cleared:after {
  content: "";
  display: table;
  clear: both;
}

.dividing{
  margin: 40px auto 0 auto;
  max-width: 200px;
  height: 1px;
  background-color: $_grey;
}

mark{
  background-color: #f7f7f7;
  border-radius: 3px;
  color: #a71d5d;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 85%;
  padding: 2px 4px;
  border: 1px solid #CECECE;
  margin-right: 1px;
}

.conlist{
  max-width: 600px;
  margin: 0 auto;
}
