doctype html
html
  head
    title Bootstrap 3.0 - Frameworks - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span FRAMEWORKS: BOOTSTRAP 3.0
          | Make use of a nice and handy framework. Do less work!
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .frameworks1").addClass("active");
