doctype html
html
  head
    title Lightbox - Frameworks - Tutorials - KVD
    include /header.jade
  body.tutorial-content
    include /nav.jade
    include /tweets.jade
    include _side.jade
    
    .top
      .container
        h1 
          span FRAMEWORKS: Lightbox
          | Use this framework to make a slideshow/zoom in seconds
    
    .container.divider
  
    include /footer.jade

    script.
      $(".mainMenu .menuTutorials").addClass("selected");
      $(".sideMenu .frameworks2").addClass("active");
