:root {
  --radius: 8px;
  --radius_small: 4px;
  --radius_large: 40px;

  --border: 1px solid;

  --primary: #007bff;
  --black: #000000;
  --white: #ffffff;
  --grey: #cccccc;
  --grey_light: #f8f8f8;
  --red: #ffa173;
  --red_light: #ffd4bf;
  --red_dark: #ff6d26;
  --green: #86e2b9;
  --green_light: #c4f1dd;
  --green_dark: #48d496;
  --yellow: #ffce3a;
  --yellow_light: #ffe186;
  --yellow_dark: #ecb100;
  --blue: #4bd0d4;
  --blue_light: #89e0e3;
  --blue_dark: #28a6ab;
  --purple: #8565c4;
  --purple_light: #b19cd9;
  --purple_dark: #5f3d9f;
  --shadow: 0 4px 60px rgba(0, 0, 0, 0.1);
  --shadow_light: 0 0 30px rgba(black, 0.05);
  --shadow_dark: 0 4px 60px rgba(black, 0.15);

  --radius_btn: 6px;
  --padding_btn: 14px 20px;

  --radius_input: 6px;
  --padding_input: 15px 20px;

  --padding: 6px 10px;

  --width: 700px;
  --width_small: 300px;
  --width_large: 960px;

  --xs: "30em";
  --s: "48em";
  --m: "64em";
  --l: "75em";
  --xl: "100em";

  --font: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica,
    arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  --font_header: -apple-system, blinkmacsystemfont, "segoe ui", roboto,
    helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji",
    "segoe ui symbol";
  --font-size: 2rem;
  --font-size_logo: 4rem;
  --font-size_large: 3rem;
  --font-size_huge: 7rem;
  --font-size_small: 1.5rem;
  --font-size_tiny: 1.2rem;

  --animate: all 0.2s ease-in-out;
}
