.container.grid.grid_dnd
  a.grid-item(href="https://homebrew.kenvandamme.be/", target="_blank", rel="noopener")#homebrew
    .grid-c
      .bg
      h3 Homebrew all the brew
      p Custom rules/info for my D&D games
  a.grid-item(href="https://github.com/solo244/dnd_stats", target="_blank", rel="noopener")#dndstats
    .grid-c
      .bg
      h3 D&D stats
      p Statistics for my current D&D campaign
  a.grid-item(href="https://github.com/solo244/dm", target="_blank", rel="noopener")#dashdnd
    .grid-c
      .bg
      h3 The static dash
      p A static dashboard to run my games
