.container.grid.grid_dnd
  a.grid-item(href="https://github.com/solo244/dnd_stats", target="_blank")#dndstats
    .grid-c
      .bg
      h3 D&D stats
      p Statistics for my current D&D campaign
  a.grid-item(href="https://github.com/solo244/dm", target="_blank")#dashdnd
    .grid-c
      .bg
      h3 The static dash
      p A static dashboard to run my games
