.container.grid.grid_github  
  a.grid-item(href="https://github.com/solo244/new_project_gulp", target="_blank")#gulp
    .grid-c
      .bg
      h3 Gulp
      p Blank new web project using Gulp
  
  a.grid-item(href="https://github.com/solo244/new_project_grunt-bower", target="_blank")#gruntbower
    .grid-c
      .bg
      h3 Grunt + bower
      p Blank new web project using Grunt and Bower
  a.grid-item(href="https://github.com/solo244/new_project_grunt", target="_blank")#grunt
    .grid-c
      .bg
      h3 Grunt
      p Blank new web project using Grunt
  a.grid-item(href="https://github.com/solo244/favs", target="_blank")#favs
    .grid-c
      .bg
      h3 Favs
      p It's just my way of being lazy with favourites
