.container.grid.grid_random
  a.grid-item(href="https://solo244.github.io/ms-fe/", target="_blank")#ms-fe
    .grid-c
      .bg
      h3 Copy them gifs
      p How Michael Scott embodies my life as front-end developer
  a.grid-item(href="/portfolio/i-got-this-card-game/", target="_blank")#gotthis
    .grid-c
      .bg
      h3 I got this card game
      p A board game that is made to be played with booze and friends
  a.grid-item(href="/portfolio/the-daisies/", target="_blank")#daisies
    .grid-c
      .bg
      h3 The Daisies
      p A quiz where winning and fun are important. Also beer.
      
      
