.container.grid.grid_websites
  a.grid-item(href="https://www.its-united.com/", target="_blank")#itsunited
    .grid-c
      .bg
      h3 ITS-United
      p Creating sustainable traffic management as a basic need.
  a.grid-item(href="http://www.academievilvoorde.be/", target="_blank")#academie
    .grid-c
      .bg
      h3 Academie Vilvoorde
      p Provides classes for dance, music and theatre.
  a.grid-item(href="http://www.lelitquidanse.com/", target="_blank")#lit
    .grid-c
      .bg
      h3 Le Lit Qui Danse
      p Is a Provençal villa situated in the south of France.
  a.grid-item(href="http://www.stalstudio.be/", target="_blank")#stal
    .grid-c
      .bg
      h3 De Stalstudio
      p Stallers are people with a passion for theatre.  
  a.grid-item(href="http://www.les-trois-tilleuls.be/", target="_blank")#tilleuls
    .grid-c
      .bg
      h3 Les Trois Tilleuls
      p Beautiful villa in the Provence for 6 people.
