.footer
  .container
    ul.social_footer
      li
        a(href="https://github.com/solo244", target="_blank", rel="noopener")
          include /svg/footer/github.svg
      li
        a(href="https://twitter.com/Elsolo244", target="_blank", rel="noopener")
          include /svg/footer/twitter.svg
      li
        a(href="https://www.linkedin.com/in/ken-van-damme", target="_blank", rel="noopener")
          include /svg/footer/linkedin.svg
      li
        a(href="https://www.youtube.com/channel/UCe-mRQ9BxyRt9FMhJWY9hgQ", target="_blank", rel="noopener")
          include /svg/footer/youtube.svg
    .between_logo
      a(href="/")
        include /svg/footer/logo.svg
    ul.sub_menu
      li
        a(href="/") 
          span Home
      li
        a(href="/tutorials") 
          span Tutorials
      li
        a(href="/projects") 
          span Projects
      li
        a(href="/designs") 
          span Designs

.fallback.hide
  .close
    p Close this warning and continue at own risk
    span Stuff might look weird :s

  p.joke.joke1 Your browser is so old, it knew Gandalf before he had a beard.
  p.joke.joke2 Your browser is so old, it used to babysit Yoda.
  p.joke.joke3 Your browser is so old, it went to an antique store and people started to bid on it.
  p.joke.joke4 Your browser is so old, it's birth certificate is in Roman numerals.
  p.joke.joke5 Your browser is so old, you're old and you should feel old.

  p.update Be thoughtfull of your browser, and update today! It's free, fast and easy
  ul.pick
    li
      a(href="https://www.google.com/chrome/", target="_blank", rel="noopener")
        include /svg/browsers/chrome.svg
    li
      a(href="https://www.mozilla.org/en-US/firefox/products/", target="_blank", rel="noopener")
        include /svg/browsers/firefox.svg
    li
      a(href="https://support.apple.com/downloads/safari", target="_blank", rel="noopener")
        include /svg/browsers/safari.svg
    li
      a(href="http://www.opera.com/download", target="_blank", rel="noopener")
        include /svg/browsers/opera.svg
    li
      a(href="https://www.microsoft.com/en-us/windows/microsoft-edge", target="_blank", rel="noopener")
        include /svg/browsers/explorer.svg

script(src="/js/vendors.min.js")
script(src="/js/main.min.js")
