.container.divider.news_holder
  h2
    | Handy links
    span &nbsp;

  // http://loading.io/
  // https://getmdl.io/started/index.html
  // https://fakena.me/fake-name/
  // http://www.365cons.com/
  // https://minbrowser.github.io/min/
  // https://hackernoon.com/who-said-javascript-easy-f4a1d5b399b8
  // https://www.blobmaker.app/
  // https://up.com.au/pricing/#feature-menu
  // https://www.desktophut.com/

  .grid
    .grid-item
      a(href="http://findguidelin.es/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/guidelines.svg
        h3 Findguidelines
        p Fastest brand assets
        span May 2019
    .grid-item
      a(href="https://raml.org/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/raml.svg
        h3 Raml
        p Simplest API design
        span May 2019
    .grid-item
      a(href="http://pixelmap.amcharts.com", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/pixelmap.svg
        h3 Pixelmap
        p Pixel map generator
        span May 2019
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
