tr
  th &nbsp;
  th
    include /svg/browsers/chrome.svg
  th
    include /svg/browsers/firefox.svg
  th
    include /svg/browsers/explorer.svg
  th
    include /svg/browsers/safari.svg
  th
    include /svg/browsers/opera.svg
