doctype html
html
  head
    title Page not found!
    include /header.pug
  body.notfound
    h1 This was not the page you're looking for.
    h2 Error 404
    include /svg/main/404.svg
    p I find your lack of navigation skills disturbing
    a(href="/").but #[strike Join the Dark Side..] I mean, back to the website
    include /footer.pug
