meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
meta(name="description", content="Webdesigner, webdeveloper, teacher, gamer, moron, realist, procrastinator, fast talker, nerd, distracted by pretty colors.")
link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon.png")
link(rel="icon", type="image/png", href="/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="/favicon/manifest.json")
link(rel="mask-icon", href="/favicon/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color", content="#ffffff")
link(rel="stylesheet", type="text/css", href="/css/style.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i")

include /analytics.pug
