.header
  a(href="/").logo
    include /svg/main/logo.svg
  ul.mainMenu
    li.menuTutorials
      a(href="/tutorials")
        include /svg/menu/tutorial.html
        span Tutorials
    li.menuProjects
      a(href="/projects")
        include /svg/menu/project.html
        span Projects
    li.menuDesigns
      a(href="/designs")
        include /svg/menu/design.html
        span Designs
