.header
  a(href="/").logo
    include /svg/main/logo.svg
  ul.mainMenu
    li.menuTutorials
      a(href="/tutorials")
        include /svg/menu/tutorial.html
        span Tutorials
    li.menuProjects
      a(href="/projects")
        include /svg/menu/project.html
        span Projects
    li.menuDesigns
      a(href="/designs")
        include /svg/menu/design.html
        span Designs

a(class="bmc-button", target="_blank", href="https://www.buymeacoffee.com/solo244")
  img(src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg", alt="")
  span Buy me a coffee
