.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://devhints.io/css-flexbox", target="_blank").grid-c
        .icon
          include /svg/favs/rocket.svg
        h3 Devhints
        p Massive cheatsheets
        span January 2017
    .grid-item
      a(href="https://designrevision.com/", target="_blank").grid-c
        .icon
          include /svg/favs/designrevision.svg
        h3 Design Revision
        p Free UI toolkits
        span January 2017
    .grid-item
      a(href="https://frappe.github.io/charts/", target="_blank").grid-c
        .icon
          include /svg/favs/frappe.svg
        h3 Frappe
        p Dem fancy charts
        span January 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
