.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://shopify.github.io/draggable/examples/simple-list.html", target="_blank").grid-c
        .icon
          include /svg/favs/draggable.svg
        h3 Draggable
        p Modern drag and drop
        span July 2018
    .grid-item
      a(href="https://www.producthunt.com/", target="_blank").grid-c
        .icon
          include /svg/favs/producthunt.svg
        h3 Product Hunt
        p Find your next favorite thing
        span July 2018
    .grid-item
      a(href="http://realfavicongenerator.net/", target="_blank").grid-c
        .icon
          include /svg/favs/realfavicongenerator.svg
        h3 Realfavicongenerator
        p All the favicons generated!
        span July 2018

  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
