.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://toggl.com/", target="_blank").grid-c
        .icon
          include /svg/favs/toggle.svg
        h3 Toggle
        p Timetrack everything
        span March 2017
    .grid-item
      a(href="https://www.fiftythree.com/paste", target="_blank").grid-c
        .icon
          include /svg/favs/fiftythree.svg
        h3 Fiftythree
        p Easy and perfect slides
        span March 2017
    .grid-item
      a(href="https://csspeeper.com/", target="_blank").grid-c
        .icon
          include /svg/favs/csspeeper.svg
        h3 CSSpeeper
        p Inspect styles via extension
        span March 2017

  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
