.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://wireddots.com/", target="_blank").grid-c
        .icon
          include /svg/favs/wireddots.svg
        h3 Wireddots
        p Themes, Kits & Components
        span February 2017
    .grid-item
      a(href="https://worldvectorlogo.com/", target="_blank").grid-c
        .icon
          include /svg/favs/ninja.svg
        h3 World Vector Logo
        p All brands, all logos
        span February 2017
    .grid-item
      a(href="http://opensource.audith.org/uniform/", target="_blank").grid-c
        .icon
          include /svg/favs/uniform.svg
        h3 Uniform
        p Sexy forms with jQuery
        span February 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
