.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="http://productgraveyard.com/", target="_blank").grid-c
        .icon
          include /svg/favs/graveyard.svg
        h3 Product Graveyard
        p Commemorating the gone away
        span September 2017
    .grid-item
      a(href="https://www.mapbox.com/", target="_blank").grid-c
        .icon
          include /svg/favs/mapbox.svg
        h3 Mapbox
        p Location, location, location
        span September 2017
    .grid-item
      a(href="https://iconverticons.com/", target="_blank").grid-c
        .icon
          include /svg/favs/iconvertions.svg
        h3 iconverticons
        p Convert all the things!
        span September 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
