.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="http://freefrontend.com/", target="_blank").grid-c
        .icon
          include /svg/favs/freefrontend.svg
        h3 Free Frontend
        p Free first-hand resources
        span November 2017
    .grid-item
      a(href="http://jam-icons.com/", target="_blank").grid-c
        .icon
          include /svg/favs/jam.svg
        h3 Jam icons
        p Pixel perfect and free
        span November 2017
    .grid-item
      a(href="https://backlinko.com/seo-this-year", target="_blank").grid-c
        .icon
          include /svg/favs/backlinko.svg
        h3 SEO 2018
        p All the tips and tricks
        span November 2017 
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
