.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://www.flexible-grid.com/", target="_blank").grid-c
        .icon
          include /svg/favs/flexgrid.svg
        h3 Flexible Grid
        p Flexible grid layouts
        span June 2018
    .grid-item
      a(href="https://fontba.se/", target="_blank").grid-c
        .icon
          include /svg/favs/fontbase.svg
        h3 Fontbase
        p Font management. Perfected.
        span June 2018
    .grid-item
      a(href="https://adonisjs.com/", target="_blank").grid-c
        .icon
          include /svg/favs/adonis.svg
        h3 Adonis
        p Fresh Node.js web framework
        span June 2018

  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
