.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;

  .grid
    .grid-item
      a(href="https://digitalpsychology.io/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/digitalpsy.svg
        h3 Digital Psychology
        p Library of principles
        span January 2019
    .grid-item
      a(href="https://www.dimensions.guide/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/dimensions.svg
        h3 Dimensions
        p Comprehensive ref. database
        span January 2019
    .grid-item
      a(href="https://theintern.io/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/intern.svg
        h3 The Intern
        p You deserve some help
        span January 2019
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
