.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;

  // http://findguidelin.es/
  // https://raml.org/
  // https://gradienty.tumblr.com/tagged/ce1a6b
  // http://pixelmap.amcharts.com/
  // http://loading.io/
  // https://getmdl.io/started/index.html
  // https://fakena.me/fake-name/
  // http://www.365cons.com/
  // https://minbrowser.github.io/min/
  // https://hackernoon.com/who-said-javascript-easy-f4a1d5b399b8
  // https://www.blobmaker.app/
  // https://up.com.au/pricing/#feature-menu
  // https://www.desktophut.com/

  .grid
    .grid-item
      a(href="https://stenciljs.com/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/steciljs.svg
        h3 Steciljs
        p Web component compiler
        span February 2019
    .grid-item
      a(href="https://thepowerofserverless.info/services.html", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/serverless.svg
        h3 Serverless
        p The power of Fronent
        span February 2019
    .grid-item
      a(href="https://socialsizes.io/", target="_blank", rel="noopener").grid-c
        .icon
          include /svg/favs/socialsizes.svg
        h3 Socialsizes
        p All sizes of all socials
        span February 2019
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
