.container.divider.news_holder
  h2
    | Updates
    span &nbsp;
  .grid
    .grid-item
      a(href="http://strudeljs.org/", target="_blank").grid-c
        .icon
          include /svg/favs/strudel.svg
        h3 Strudel.js
        p JS component framework
        span October 2017
    .grid-item
      a(href="https://atlassian.design/", target="_blank").grid-c
        .icon
          include /svg/favs/atlassian.svg
        h3 Design for Atlassian
        p It's all sooo pretty
        span October 2017
    .grid-item
      a(href="https://siftery.com/groups/unicorns", target="_blank").grid-c
        .icon
          include /svg/favs/siftery.svg
        h3 Unicorns!
        p Break trough the lies
        span October 2017 
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
