.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://beta.observablehq.com/", target="_blank").grid-c
        .icon
          include /svg/favs/observable.svg
        h3 Observable
        p Free interactive notebooks
        span April 2017
    .grid-item
      a(href="http://www.garylemasson.com/en", target="_blank").grid-c
        .icon
          include /svg/favs/gary.svg
        h3 Gary Le Masson
        p Need a good consultant
        span April 2017
    .grid-item
      a(href="http://www.sketchconfetti.com/", target="_blank").grid-c
        .icon
          include /svg/favs/confetti.svg
        h3 Sketch Confetti
        p Generate patterns with 1 click
        span April 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
