.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  .grid
    .grid-item
      a(href="https://abouolia.github.io/sticky-sidebar/", target="_blank").grid-c
        .icon
          include /svg/favs/sidebar.svg
        h3 Sticky Sidebar
        p JavaScript plugin for a sidebar
        span March 2017
    .grid-item
      a(href="http://bourbon.io/", target="_blank").grid-c
        .icon
          include /svg/favs/bourbon.svg
        h3 Bourbon
        p A Lightweight Sass Tool Set
        span March 2017
    .grid-item
      a(href="https://fractures.space/", target="_blank").grid-c
        .icon
          include /svg/favs/fractures.svg
        h3 Fractures
        p Baseline atomic CSS toolkit
        span March 2017
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
