.container.divider.news_holder
  h2
    | Monthly links
    span &nbsp;
  // http://colebemis.com/tabio/
  // https://www.modulz.app/
  // https://www.queness.com/post/3141/10-image-galleries-jquery-script-with-thumbnail-filmstrip
  // https://webkul.github.io/coolhue/?ref=webdesignernews.com
  // https://blog.sidebar.io/
  // http://facebook.github.io/jest/
  // https://survivejs.com/webpack/styling/loading/
  // http://bootstrapbay.com/bootstrap4/?ref=webdesignernews.com#ceva
  // https://icons8.com/icon/new-icons/all
  // https://digitalpsychology.io/

  .grid
    .grid-item
      a(href="https://usetabio.com/", target="_blank").grid-c
        .icon
          include /svg/favs/tabio.svg
        h3 Tabio
        p Open source tab manager
        span Oktober 2018
    .grid-item
      a(href="https://www.modulz.app/", target="_blank").grid-c
        .icon
          include /svg/favs/modulz.svg
        h3 Modulz
        p The next step in visual coding
        span Oktober 2018
    .grid-item
      a(href="https://www.queness.com/post/3141/10-image-galleries-jquery-script-with-thumbnail-filmstrip", target="_blank").grid-c
        .icon
          include /svg/favs/slideshow.svg
        h3 Queness
        p 10 Image galleries
        span Oktober 2018
  .all-link
    a(href="/links")
      | View all links
      i(class="icon dripicons-arrow-thin-right")
.content
