tr
  th &nbsp;
  th 
    include /svg/browsers/chrome.html
  th
    include /svg/browsers/firefox.html
  th
    include /svg/browsers/explorer.html
  th
    include /svg/browsers/safari.html
  th
    include /svg/browsers/opera.html
